.switch[type="checkbox"] + label::before {
  
  border-radius: 8px;
  border-width: 3px;
  transition: all 170ms ease-in-out;
}

.switch[type="checkbox"]:hover + label::before {
  border-color: rgba(255, 255, 255, 0.43);
}

.switch[type="checkbox"]:checked + label::before {
  border-color: rgba(255, 255, 255, 0.04);
}

.switch[type="checkbox"].is-light:checked + label::before {
  background: rgba(255, 255, 255, 0.6) !important;
}

.switch[type="checkbox"]:checked:hover + label::before {
  border-color: rgba(255, 255, 255, 1);
}

.switch[type="checkbox"] + .label::before {
  background: rgba(255, 255, 255, 0.12) !important;
}

.switch[type="checkbox"] + label::after {
  border-radius: 6px;
}

.switch[type="checkbox"]:checked + label::after {
  left: 34px;
}