.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.button[disabled],
button[disabled] {
  cursor: not-allowed;
}

// .button[disabled]:hover,
// .button[disabled]:focus,
// .button[disabled]:active,
// button[disabled]:hover,
// button[disabled]:focus,
// button[disabled]:active {
//   transform: scale3d(1, 1, 1);
// }

.button:hover,
.button:active {
  // background-color: lighten($cyan, 10%);
  color: $button-hover-color;
}

.button {
  background-color: transparent;
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: 700;
  // height: auto;
  padding: 0.35rem 1rem 0.4rem;
  text-transform: uppercase;

  @media screen and (max-width: $tablet) {
    height: auto;
    padding: 0.25rem 2rem;
    white-space: normal;
    width: 100%;
  }
}

.button.is-small {
  border-radius: 100px;
  font-size: 1rem;
  padding: 1.25rem 2rem 1.25rem;
}

.button.is-text {
  border-radius: 0;
  text-decoration: none;
  margin-bottom: calc(0.375em);
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.button.is-text:hover,
.button.is-text:active,
.button.is-text:focus {
  background-color: initial;
}

.button.is-primary {
  background-color: $cyan;
  // color: $button-text-color;
}

.button.is-purple {
  background-color: $purple;
  border: none;
  color: white;
}

.button.is-purple:hover {
  background-color: lighten($purple, 10%);
  border: none;
  color: white;
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: lighten(saturate($cyan, 100%), 10%);
}

.is-copy-button {
  color: lighten($text, 30%);
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
}

.is-copy-button:hover {
  color: $text;
}

a.button,
button {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transform: translateY(0);
  transition: all 150ms ease-out;
  // transform: scale3d(1, 1, 1);
}

a.button:hover:not(.is-text),
button:hover:not(.is-text) {
  box-shadow: 0 9px 15px rgba(50, 50, 93, .2), 0 4px 7px rgba(0, 0, 0, .15);
  // transition: transform 150ms ease-in;
  // transform: scale3d(1.04, 1.04, 1.04);
  transform: translateY(-2px);
  transition: all 150ms ease-in-out;
}

// .button.is-text.has-underline-border:hover {
//   border-bottom-color: $button-text-hover-color;
// }
