.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.button.is-info:focus,
.button.is-info.is-focused {
  color: white;
}

.button[disabled],
button[disabled] {
  cursor: not-allowed;
}

.button:hover,
.button:active {
  color: $button-hover-color;
}

.button {
  background-color: black;
  border-radius: 8px;
  border-width: 5px;
  height: auto;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 0.5rem 2rem 0.5rem;

  text-transform: capitalize;
  transition: all 350ms cubic-bezier(0.15, 0.89, 0, 1);
  min-width: 240px;

  @media screen and (max-width: $mobile) {
    font-size: 1rem;
    width: 100%;
  }

  @media screen and (max-width: $desktop) {
    font-size: 1rem;
    width: 100%;
  }
}

.button.is-xsmall {
  border-radius: 100px;
  font-size: 0.75rem;
  height: auto;
  padding: 0.2rem 1rem 0.3rem;
}

.button.is-text {
  border-radius: 0;
  text-decoration: none;
  margin-bottom: calc(0.375em);
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.button.is-text:hover,
.button.is-text:active,
.button.is-text:focus {
  background-color: initial;
}

.button.is-info,
.button.is-info:hover,
.button.is-info:active {
  color: white;
}

.button.is-pink {
  background-color: $pink;
  color: white;
  border-color: $pink;
}

.button.is-pink:hover,
.button.is-pink:focus,
.button.is-pink:active {
  background-color: lighten(saturate($pink, 100%), 10%);
  border-color: $pink;
}

.button.is-primary {
  background-color: $cyan;
  color: $purple;
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: darken(saturate($cyan, 100%), 15%);
}

.button.is-success {
  color: white;
}

.button.is-success:hover,
.button.is-success:focus,
.button.is-success:active {
  background-color: lighten(saturate($success, 100%), 2%);
}

.button.is-light {
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 70ms ease-in-out;
}

.button.is-light:hover,
.button.is-light:active {
  background-color: white;
  border-color: $dark;
  transition: all 70ms ease-in-out;
}

.button.is-success.is-outlined {
  border-color: $success;
}

.button.is-success.is-outlined:hover,
.button.is-success.is-outlined:active,
.button.is-success.is-outlined:focus {
  border-color: $success;
  color: white;
}

.button.is-pink.is-outlined {
  background-color: transparent;
  border-color: $pink;
  color: $pink;
}

.button.is-pink.is-outlined:hover,
.button.is-pink.is-outlined:active,
.button.is-pink.is-outlined:focus {
  background-color: saturate($pink, 100%);
  border-color: saturate($pink, 100%);
  color: white;
}

.button.is-light.is-outlined {
  border-color: #ccc;
  color: #ccc;
}

.button.is-light.is-outlined:hover,
.button.is-light.is-outlined:focus,
.button.is-light.is-outlined:active {
  background-color: transparent;
  border-color: white;
  color: white;
}

.button.is-info.is-outlined:hover,
.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:active {
  color: white;
}

.button.is-purple {
  background-color: $purple;
  border-color: $purple;
  color: white;
}

.button.is-purple:hover {
  background-color: lighten($purple, 5%);
  border-color: lighten($purple, 10%);
}

.button.is-purple:focus,
.button.is-purple:active {
  background-color: lighten($purple, 10%);
}

.is-copy-button {
  color: lighten($text, 30%);
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
}

.is-copy-button:hover {
  color: $text;
}

.button.is-small {
  border-radius: 8px;
}

.button.is-outlined {
  border-width: 5px;
}

.button.is-dark {
  background-color: darken($dark, 10%);
  border-color: darken($dark, 10%);
}

.button.is-outlined.is-dark {
  border-color: darken($dark, 10%);
}

.button.is-outlined.is-dark:hover,
.button.is-outlined.is-dark:active,
.button.is-outlined.is-dark:focus {
  border-color: darken($dark, 10%);
  color: white;
}

.button.has-icon.plus-button {
  transition: all 275ms ease-in-out;
  // width: 100%;
  background-color: rgba(255,255,255,0.1);
  color: #ffffffad;
  font-weight: bolder;
  height: 47px;
  width: 47px;

  @media screen and (max-width: $desktop) {
    height: 42px;
    width: 42px;
  }
}

.has-bg .button.has-icon,
.has-bg__dark .button.has-icon,
.button.has-icon {
  border-radius: 6px;
  border: 3px solid transparent;
  height: 44px;
  min-width: 44px;
  padding: 0;
}

.button.has-icon:hover,
.button.has-icon:active {
  border: 3px solid rgba(255, 255, 255, 1);
}

.has-bg .button.is-pink.is-outlined {
  color: lighten($pink, 30%);
}

.has-bg .button.is-pink.is-outlined:hover,
.has-bg .button.is-pink.is-outlined:active,
.has-bg .button.is-pink.is-outlined:focus {
  border-color: $pink;
  color: white;
}

.has-icon.has-icon__transparent {
  background-color: transparent;
}

.icon__button {
  stroke: $dark;
}

.button.has-stroke-green:hover {
  background-color: $success;
}

.button.has-stroke-red:hover {
  background-color: $danger;
}

.button.has-stroke-light:hover {
  background-color: transparent;
}

.button.has-stroke-green:hover svg,
.button.has-stroke-red:hover svg,
.button.has-stroke-light:hover svg,
.button.has-stroke-white:hover svg {
  stroke: white;
}

.has-stroke-green {
  stroke: $green;
}

.has-stroke-red {
  stroke: $red;
}

.has-stroke-blue {
  stroke: $blue;
}

.has-stroke-pink {
  stroke: $pink;
}

.has-stroke-purple {
  stroke: $purple;
}

.has-stroke-orange {
  stroke: $orange;
}

.has-stroke-cyan {
  stroke: $cyan;
}

.has-stroke-primary {
  stroke: $primary;
}

.has-stroke-link {
  stroke: $link;
}

.has-stroke-info {
  stroke: $info;
}

.has-stroke-danger {
  stroke: $danger;
}

.has-stroke-warning {
  stroke: $warning;
}

.has-stroke-grey {
  stroke: $grey;
}

.has-stroke-dark {
  stroke: $dark;
}

.has-stroke-light {
  stroke: rgba(255, 255, 255, 0.75);
}

.buttons {
  display: inline-flex;
}

.buttons:last-child {
  margin-bottom: 0;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 1rem;

  @media screen and (max-width: $widescreen) {
    margin-right: 0;
  }
}

.buttons .button,
.form .buttons .button {
  margin-bottom: 0.5rem;

  @media screen and (max-width: $widescreen) {
    font-size: 1rem;
  }
}

.buttons .button svg {
  @media screen and (max-width: $widescreen) {
    width: 20px;
  }
}

button:hover[disabled],
button:focus[disabled],
button:active[disabled],
.button:hover[disabled],
.button:focus[disabled],
.button:active[disabled] {
  box-shadow: none !important;
  // transform: scale3d(1.0, 1.0, 1.0) !important;
}

.buttons-right {
  align-content: flex-end;
  flex-direction: column;
  display: flex;
  // margin: 0 0 0 auto;
  margin-left: auto;
}