.button:focus:not(:active),
.button.is-focused:not(:active) {
  box-shadow: none;
}

.button.is-info:focus,
.button.is-info.is-focused {
  color: white;
}

.button[disabled],
button[disabled] {
  cursor: not-allowed;
}

.button:hover,
.button:active {
  color: $button-hover-color;
}

.button {
  background-color: black;
  border-radius: 100px;
  border-width: 0;
  height: auto;
  font-size: 1.25rem;
  font-weight: 700;
  padding: 1rem 3rem 1rem;

  text-transform: capitalize;
  transition: transform 400ms cubic-bezier(0.15, 0.89, 0, 1);
  min-width: 240px;

  @media screen and (max-width: $mobile) {
    font-size: 1rem;
    width: 100%;
  }
}

.button.is-xsmall {
  border-radius: 100px;
  font-size: 0.75rem;
  height: auto;
  padding: 0.2rem 1rem 0.2rem;
}

.button.is-text {
  border-radius: 0;
  text-decoration: none;
  margin-bottom: calc(0.375em);
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}

.button.is-text:hover,
.button.is-text:active,
.button.is-text:focus {
  background-color: initial;
}

.button.is-info,
.button.is-info:hover,
.button.is-info:active {
  color: white;
}

.button.is-pink {
  background-color: $pink;
  color: white;
}

.button.is-pink:hover,
.button.is-pink:focus,
.button.is-pink:active {
  background-color: lighten(saturate($pink, 100%), 10%);
}

.button.is-primary {
  background-color: $cyan;
  color: $purple;
}

.button.is-primary:hover,
.button.is-primary:focus,
.button.is-primary:active {
  background-color: darken(saturate($cyan, 100%), 15%);
}

.button.is-success {
  color: white;
}

.button.is-success:hover,
.button.is-success:focus,
.button.is-success:active {
  background-color: lighten(saturate($success, 100%), 2%);
}

.button.is-light {
}

.button.is-light:hover,
.button.is-light:focus,
.button.is-light:active {
  background-color: lighten(saturate($light, 100%), 2%);
  color: $dark !important;
}

.button.is-success.is-outlined {
  border-color: $success;
}

.button.is-success.is-outlined:hover,
.button.is-success.is-outlined:active,
.button.is-success.is-outlined:focus {
  border-color: $success;
  color: white;
}

.button.is-pink.is-outlined {
  background-color: transparent;
  border-color: $pink;
  color: $pink;
}

.button.is-pink.is-outlined:hover,
.button.is-pink.is-outlined:active,
.button.is-pink.is-outlined:focus {
  background-color: saturate($pink, 100%);
  border-color: saturate($pink, 100%);
  color: white;
}

.button.is-info.is-outlined:hover,
.button.is-info.is-outlined:focus,
.button.is-info.is-outlined:active {
  color: white;
}

.button.is-purple,
.button.is-purple:hover,
.button.is-purple:active {
  background-color: $purple;
  border: none;
  color: white;
}

.button.is-purple:hover,
.button.is-purple:active {
  background-color: lighten($purple, 10%);
}

.is-copy-button {
  color: lighten($text, 30%);
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.625rem;
}

.is-copy-button:hover {
  color: $text;
}

.button.is-small {
  border-radius: 100px;
  height: auto;
  font-size: 1rem;
  padding: 0.5rem 2rem 0.5rem;
}

.button.is-small:hover,
.button.is-small:active,
.button.is-small:focus {
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
  color: white;
}

.button.is-small:active,
button.button.is-small:active {
  box-shadow: 0 0 100px rgba(255, 255, 255, 0.7);
  color: white;
  transform: scale3d(1.07, 1.07, 1.07);
}

.button:hover:not(.is-text) {
  transform: scale3d(1.06, 1.06, 1.0);
}

.button.is-outlined {
  border-width: 5px;
}

.button.is-outlined.is-dark {
  border-color: $dark;
}

.button.is-outlined.is-dark:hover,
.button.is-outlined.is-dark:active,
.button.is-outlined.is-dark:focus {
  border-color: $dark;
  color: white;
}

.has-bg .button.has-icon,
.has-bg__dark .button.has-icon,
.button.has-icon {
  background-color: white;
  border: 0;
  height: 44px;
  min-width: 44px;
  padding: 0;
}

.has-bg .button.is-pink.is-outlined {
  color: lighten($pink, 30%);
}

.has-bg .button.is-pink.is-outlined:hover,
.has-bg .button.is-pink.is-outlined:active,
.has-bg .button.is-pink.is-outlined:focus {
  border-color: $pink;
  color: white;
}

.has-icon.has-icon__transparent {
  background-color: transparent;
}

.icon__button {
  stroke: $dark;
}

.button.has-stroke-green:hover {
  background-color: $success;
}

.button.has-stroke-red:hover {
  background-color: $danger;
}

.button.has-stroke-light:hover {
  background-color: transparent;
}

.button.has-stroke-green:hover svg,
.button.has-stroke-red:hover svg,
.button.has-stroke-light:hover svg,
.button.has-stroke-white:hover svg {
  stroke: white;
}

.has-stroke-green {
  stroke: $success;
}

.has-stroke-red {
  stroke: $danger;
}

.has-stroke-light {
  stroke: rgba(255, 255, 255, 0.75);
}

.buttons {
  display: inline-flex;
}

.buttons:last-child {
  margin-bottom: 0;
}

.buttons .button:not(:last-child):not(.is-fullwidth) {
  @media screen and (max-width: $tablet) {
    margin-right: 0;
  }
}

.buttons .button {
  margin-bottom: 0.5rem !important;
}

.button:hover[disabled] {
  transform: scale3d(1.0, 1.0, 1.0);
}