.code {
  border-radius: 30px;
  display: inline-block;
  font-size: 1rem;
  margin-top: 0.5rem;
  padding: 1rem;
  position: relative;
  // overflow: scroll;
  overflow: hidden;

  @media screen and (max-width: $tablet) {
    max-width: 100%;
    min-width: 100%;
    padding-right: 1.25rem;
  }
}

.code-wrapper {
  margin-top: 0.75rem;
}

.code.code--quick-install {
  min-width: 310px;

  @media screen and (max-width: $tablet) {
    max-width: 100%;
    min-width: 100%;
  }
}

.code {
  background-color: $black-bis;
  border-radius: 10px;
  color: white !important;
  height: 150px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 0.5rem;
  position: relative;
  width: 100%;
}

.code pre {
  background-color: $black-bis;
  color: white !important;
  font-size: 0.75rem;
  padding: 0.5rem;
  white-space: initial;
}

.code svg {
  fill: $grey-light;
}

.code svg:hover {
  fill: white;
}

.code--comment {
  color: $grey;
}
