.drawer {
  // background-color: lighten($dark, 10%);
  border-top: 5px solid white;
  box-shadow: 0 -3px 14px rgba(40, 20, 40, 0.2);
  color: white;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 20000;
}

.drawer .field {
  display: inline-block;
  max-width: 300px;
}