.drawer {
  border-top: 5px solid black;
  box-shadow: 0 -3px 14px rgba(40, 20, 40, 0.2);
  color: white;
  padding-top: 6px;
  pointer-events: none;
  position: fixed;
  width: 100%;
  z-index: 20000;

  @media screen and (max-width: $tablet - 203px) {
    padding-top: 0;
  }
}

.drawer__clickbox {
  background-color: rgba(10, 0, 50, 0.4);
  cursor: pointer;
  height: 100%;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition: opacity 100ms ease-in-out;
  top: 0;
  width: 100%;
  will-change: opacity;
  z-index: 19000;
}

.drawer__clickbox.is-active {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.drawer,
.drawer-enter {
  bottom: -120px;
}

.drawer.drawer-enter-active,
.drawer.drawer-enter-done {
  bottom: -20px;
  height: 140px;

  @media screen and (max-width: $tablet) {
    height: 200px;
  }
}

.drawer-exit,
.drawer-exit-active,
.drawer-exit-done {
  bottom: -120px;
}

.drawer .field {
  display: inline-block;
  height: 50px;
  margin-left: 0;
  // max-width: 260px;

  @media screen and (max-width: $tablet - 203px) {
    // max-width: 100%;
    width: 100%;
  }
}

.drawer .field:not(:last-child) {
  margin-bottom: 1rem;

  @media screen and (max-width: $tablet - 203px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.drawer .form .select,
.drawer .form .react-select {
  display: flex;
  flex-direction: column;
  min-width: 230px;

  @media screen and (max-width: $tablet - 203px) {
    min-width: 100%;
    width: 100%;
  }
}

.drawer .form .input {
  height: 60px !important;
}

.drawer .form .select select,
.drawer .form .react-select {
  height: 60px !important;
  line-height: 2;
}

.has-bg .form .button.has-icon,
.has-bg__dark .form .button.has-icon,
.drawer .button.has-icon {
  border: 0;
  height: 60px;
  margin-right: 0;
  width: 60px;
}

.drawer .buttons .button:not(:last-child):not(.is-fullwidth) {
  margin-right: 4px;
}

.drawer .form .input,
.drawer .form .react-select,
.drawer .form .buttons {
  display: flex;
  margin: 0 5px;
}

.drawer .form .input:first-child,
.drawer .form .react-select:first-child,
.drawer .form .buttons:first-child {
  margin-left: 0;
}

.drawer .form .input:last-child,
.drawer .form .react-select:last-child,
.drawer .form .buttons:last-child {
  margin-right: 0;
}

.drawer-inputs {
  display: flex;
  flex-grow: 1;
  height: 50px;

  @media screen and (max-width: $tablet - 203px) {
    display: block;
  }
}

.drawer-inputs .control:last-child {
  flex: initial;
}

.drawer-inputs .control:first-child {
  flex: initial;
}

.drawer-inputs .field {
  display: flex;
  flex-grow: 1;
  flex-flow: column;

  @media screen and (max-width: $tablet - 203px) {
    display: block;
  }
}

.drawer-form {
  align-items: flex-end;
  display: flex;
  justify-content: center;
}
