// EVENT CARD

.event-card {
  border-radius: 15px;
  display: inline-block;
  height: 300px;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-transform: none;
  transform: scale3d(1.0, 1.0, 1.0);
  transition: transform 75ms ease-in-out;
  will-change: transform;
  white-space: initial;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.event-card__title {
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.event-card:hover {
  transform: scale3d(1.1, 1.1, 1.0);
}

.has-bg .event-card,
.has-bg .event-card:hover {
  border: 5px solid white;
}

.event-card__header {
  height: 220px;
  padding: 1.5rem;
}

.event-card__footer {
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 54px;
  margin-top: 0rem;
  padding: 0.75rem 1.5rem;
}

.event-card__footer .event-card__author {
  display: inline-flex;
}

.event-card .event-card__icons {
  display: inline-flex;
  margin: 0 0 0 auto;
  top: -0.5rem;
  position: relative;
}

.event-card .dropdown {
  min-width: 100%;
  opacity: 0.001;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
  text-align: center;
  will-change: opacity;
}

.event-card:hover .dropdown {
  opacity: 0.7;
  pointer-events: initial;
  transition-duration: 600ms;
}

.event-card:hover .dropdown:hover,
.event-card:hover .is-active {
  opacity: 1;
  pointer-events: initial;
  transition-duration: 600ms;
}

// .event-card:hover .dropdown path,
// .event-card:hover .dropdown rect,
// .event-card:hover .dropdown circle,
// .event-card:hover .dropdown svg {
//   stroke: rgba(255, 255, 255, 0.3);
// }

.event-card:hover .dropdown .button.has-icon:active path,
.event-card:hover .dropdown .button.has-icon:active rect,
.event-card:hover .dropdown .button.has-icon:active circle,
.event-card:hover .dropdown .button.has-icon:active svg,
.event-card:hover .dropdown .button.has-icon:focus path,
.event-card:hover .dropdown .button.has-icon:focus rect,
.event-card:hover .dropdown .button.has-icon:focus circle,
.event-card:hover .dropdown .button.has-icon:focus svg,
.event-card:hover .dropdown .button.has-icon:hover path,
.event-card:hover .dropdown .button.has-icon:hover rect,
.event-card:hover .dropdown .button.has-icon:hover circle,
.event-card:hover .dropdown .button.has-icon:hover svg {
  stroke: white;
}



// EVENT BOX

.event-box {
  font-weight: 600;
  line-height: 1.5;
  padding: 1.5rem 0;
  width: 100%;

  @media screen and (max-width: $fullhd) {
    padding: 1rem;
  }

  @media screen and (max-width: $widescreen) {
    line-height: 4;
    padding: 1.5rem 0;
  }

  @media screen and (max-width: $tablet) {
    line-height: 2;
  }
}

.event-box__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.event-box__footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.event-box__variable.has-hint {
  border-top-left-radius: 0;

  @media screen and (max-width: $tablet) {
    margin-top: 1.5rem;
  }
}

.event-box__text {
  display: inline-block;
  transition: all 275ms ease-in-out;

  @media screen and (max-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.event-box__variable-wrapper {
}

.event-box__variable-wrapper .icons {
  display: inline-block;
  top: 0.1rem;
  position: relative;
  padding-left: 0.5rem;
}

.event-box__variable-wrapper .has-icon,
.event-box__variable-wrapper .drag-handle {
  opacity: 0.001;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
  will-change: opacity;
}

.event-box__variable-wrapper:hover .has-icon.remove {
  transition-duration: 1000ms;
}

.event-box__variable-wrapper:hover .has-icon,
.event-box__variable-wrapper.is-active .has-icon,
.event-box__variable-wrapper:hover .drag-handle {
  opacity: 1;
  pointer-events: initial;
  transition-duration: 600ms;
}

.event-box__variable {
  background: transparent;
  border: none;
  border-bottom: 4px dotted rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  top: -0.1rem;
  position: relative;
  margin: 0.5rem 1rem 0.5rem 0.25rem;
  padding: 0.5rem 1rem 0.25rem;
  position: relative;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: left;
  transition: all 275ms ease-in-out;
  width: 880px;

  @media screen and (max-width: $tablet) {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
}

.event-box__variable:hover,
.event-box__variable:active,
.event-box__variable:focus,
.event-box__variable.is-active {
  background: rgba(255, 255, 255, 0.2);
  transform: scale3d(1.01, 1.01, 1.01);
  border-color: white;
}

.event-box__variable.is-active {
  background: rgba(255, 255, 255, 0.4);
}

.event-box__variable .hint {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  font-size: 14px;
  padding: 0.25rem 1rem;
  position: absolute;
  top: -1.42rem;
  left: 0;

  @media screen and (max-width: $tablet) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: auto;
    width: auto;
  }
}

.event-box__variable:hover .hint,
.event-box__variable.is-active .hint {
  background-color: white;
  color: black;
}


// overrides
.color-block.is-warning .event-box__text,
.color-block.is-warning .event-box__variable,
.color-block.is-warning .hint {
  color: black;
}

.color-block.is-primary .event-box__text,
.color-block.is-primary .event-box__variable,
.color-block.is-primary .hint {
  color: $purple;
}

.color-block.is-primary .event-box__variable {
  border-color: white;
}

.color-block.is-primary .has-text-light {
  color: white !important;
}

.color-block.is-warning .event-box__variable:hover,
.color-block.is-primary .event-box__variable:hover {
  background: rgba(255, 255, 255, 1);
  color: black;
}

// This could let us animate the width of the button boxes on the event form so it doesn't jump around
// when typing:
// <span
//             name={'oldamount'}
//             className={classnames(
//               'event-box__variable-value',
//               'animate-content', 
//               'animate-content-enter',
//               {
//                 'animate-content-enter': Math.random(1) > 0.5 ? true : false
//               }
//             )}
//             title={this.state.event.amount}
//           >
//           </span>
// @keyframes changeLetter {
//   0% {
//     content: attr(name);
//   }
//   50% {
//     color: orange;
//   }
//   100% {
//     content: attr(title);
//   }
// }

// .animate-content::after {
//   content: attr(name);
// }

// .animate-content-enter::after {
//   animation: changeLetter 250ms normal forwards ease-in-out;
// }



// EVENT HISTORY

.event-history__action-description {
  display: inline-flex;
}

.event-history__date {
  display: inline-flex;
}