// EVENT CARD

$eventFontSize: 1rem;

.button.event-card {
  border-radius: 15px;
  border: 4px solid transparent;
  display: inline-block;
  font-weight: 600;
  height: 300px;
  line-height: 1.3;
  padding: 0;
  text-align: left;
  text-transform: none;
  white-space: initial;

  @media screen and (max-width: $tablet) {
    width: 100%;
  }
}

.event-card__title {
  height: 68%;
  overflow: hidden;
  width: 100%;
}

.event-card__header {
  height: 220px;
  padding: 1.5rem;
}

.event-card__footer {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  height: 54px;
  margin-top: 0rem;
  padding: 0.75rem 1.5rem;
}

.button.event-card .event-card__icons {
  display: inline-flex;
  margin: 0 0 0 auto;
  position: relative;
}

.button.event-card .event-card__icons svg {
  width: 20px;
}

.button.event-card .event-card__icons:first-child {
  margin-left: 0;
}

.button.event-card .dropdown {
  min-width: 100%;
  opacity: 0.001;
  pointer-events: none;
  transition: opacity 200ms ease-in-out;
  text-align: left;
  will-change: opacity;
}

.button.event-card:hover .dropdown {
  opacity: 0.7;
  pointer-events: initial;
  transition-duration: 600ms;
}

.button.event-card:hover .dropdown:hover,
.button.event-card:hover .is-active {
  opacity: 1;
  pointer-events: initial;
  transition-duration: 600ms;
}

.button.event-card:hover .dropdown .button.has-icon:active path,
.button.event-card:hover .dropdown .button.has-icon:active rect,
.button.event-card:hover .dropdown .button.has-icon:active circle,
.button.event-card:hover .dropdown .button.has-icon:active svg,
.button.event-card:hover .dropdown .button.has-icon:focus path,
.button.event-card:hover .dropdown .button.has-icon:focus rect,
.button.event-card:hover .dropdown .button.has-icon:focus circle,
.button.event-card:hover .dropdown .button.has-icon:focus svg,
.button.event-card:hover .dropdown .button.has-icon:hover path,
.button.event-card:hover .dropdown .button.has-icon:hover rect,
.button.event-card:hover .dropdown .button.has-icon:hover circle,
.button.event-card:hover .dropdown .button.has-icon:hover svg {
  stroke: white;
}

.button.event-card .dropdown-menu {
  min-width: 180px;
}

.button.event-card .dropdown-content {
  box-shadow: 2px 7px 14px rgba(50, 50, 93, .1), -2px -3px 6px rgba(30, 40, 70, .05);
}

.button.event-card .dropdown-item {
  display: inline-flex;
  width: 100%;
}

.button.event-card .dropdown-item:hover {
  background-color: lighten($cyan, 20%);
}

.button.event-card.event-card--small {
  border-radius: 10px;
  border: 4px solid white;
  margin: 0;
}

.button.event-card:hover,
.button.event-card:focus,
.button.event-card:active {
  border: 4px solid lighten($dark, 2%);
}

.button.is-danger.event-card:hover,
.button.is-danger.event-card:active,
.button.is-danger.event-card:focus {
  border-color: saturate($red, 100%);
}

.button.is-dark.event-card:active,
.button.is-dark.event-card:focus {
  background-color: lighten($dark, 10%);
}

.button.is-info.event-card:hover,
.button.is-info.event-card:focus,
.button.is-info.event-card:active {
  border-color: lighten($info, 10%);
}

.button.is-link.event-card:hover,
.button.is-link.event-card:focus,
.button.is-link.event-card:active {
  border-color: lighten($link, 10%);
}

.button.is-purple.event-card:hover,
.button.is-purple.event-card:focus,
.button.is-purple.event-card:active {
  border-color: lighten($purple, 20%);
}

.button.event-card.event-card--small .event-card__header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.button.event-card.event-card--small .event-card__footer {
  height: 44px;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

.button.event-card.event-card--small .is-size-5 {
  font-size: 1rem;
}


// EVENT BOX

.event-box {
  font-weight: 600;
  line-height: 1.5;
  padding: 1.5rem 0;
  position: relative;
  width: 100%;

  @media screen and (max-width: $fullhd) {
    padding: 1rem;
  }

  @media screen and (max-width: $widescreen) {
    padding: 1.5rem 0;
  }

  @media screen and (max-width: $tablet) {
  }
}

.event-box__header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.event-box__footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.event-box__text {
  display: inline-block;
  transition: all 275ms ease-in-out;

  @media screen and (max-width: $tablet) {
    margin-left: 0;
    margin-right: 0;
  }
}

.event-box__variable-wrapper {
  font-size: $eventFontSize;
  margin: 0.25rem 0;
  min-height: 3.25rem;
  display: flex;
  align-items: center;
}

.event-box__variable-wrapper .event-box__variable {
  margin: 0 0.5rem;
}

.event-box__variable-wrapper .button {
  margin: 0;
}

.event-box__variable-wrapper .form .input {
  // font-size: inherit;
  margin: 0 auto;
  max-width: 600px;
}

.event-box__variable-wrapper .icons {
  display: inline-block;
  top: 0.1rem;
  position: relative;
  padding-left: 0.5rem;
}

.event-box__variable-wrapper .drag-handle {
  opacity: 0.4;
}

.event-box__variable-wrapper .has-icon,
.event-box__variable-wrapper .drag-handle {
  pointer-events: none;
  // transition: all 200ms ease-in-out;
  will-change: opacity;
}

.event-box__variable-wrapper:hover .has-icon.remove {
  // transition-duration: 1000ms;
}

.event-box__variable-wrapper:hover .has-icon,
.event-box__variable-wrapper.is-active .has-icon,
.event-box__variable-wrapper:hover .drag-handle {
  opacity: 1;
  pointer-events: initial;
  // transition-duration: 600ms;
}

.event-box__variable-wrapper__matcher {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
  font-size: $eventFontSize;
  margin-bottom: 0.5rem;

  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding-right: 1rem;
}

.event-box__variable-wrapper__matcher > * {
  display: inline-flex;
}

.event-box__variable-wrapper__matcher:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.event-box__variable {
  align-items: center;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  border: 3px solid transparent;
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.95);
  cursor: pointer;
  display: inline-flex;
  font-size: $eventFontSize;
  font-weight: 600;
  height: $form-input-height;
  line-height: 1;
  margin: 0 0.5rem 0;
  max-width: 225px;
  padding: 0.35rem 0.75rem 0.45rem;
  position: relative;
  text-align: left;
  transition: all 275ms ease-in-out;

  @media screen and (max-width: $fullhd) {
  }
  
  @media screen and (max-width: $widescreen) {
  }

  @media screen and (max-width: $desktop) {
  }

  @media screen and (max-width: $tablet) {
  }

  @media screen and (max-width: $mobile) {
    display: block;
    min-width: 100%;
    max-width: auto;
  }
}

.event-box__variable svg {
  margin-right: 7px;
  margin-top: -2px;
}

.event-box__variable--full-width {
  max-width: none;
}

.is-truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.event-box__variable:first-child {
  margin-left: 0;
}

.event-box__variable:hover {
  background: rgba(255, 255, 255, 0.2);
  border-color: rgba(255, 255, 255, 0.7);
  color: white;
}

.event-box__variable.is-active {
  background: rgba(255, 255, 255, 0.4);
}

.event-box__variable.has-react-select {
  width: 270px;
}

.event-box__variable.has-react-select .react-select {
  margin-left: -0.9rem;
}

.event-box__variable.has-react-select .react-select__value {
  padding-left: 0.25rem;
}

.event-box__variable.has-text-input {
  // top: -0.35rem;
  padding: 0;
  width: auto !important;
}

.event-box__variable .input {
  background-color: transparent;
  border: none;
  color: white;
  font-size: inherit;
  font-weight: 600;
  height: 100%;
  line-height: inherit;
  max-width: 200px;
  min-width: 80px;
  padding: 0.35rem 0.5rem 0.45rem;
  transition: all 50ms ease-in-out;
}

.event-box__variable ::placeholder,
.event-box__variable .input::placeholder,
.event-box__variable .textarea::placeholder,
.event-box__variable .react-select .react-select__placeholder {
  color: rgba(200, 220, 230, 0.4);
}

.event-box__variable .input:hover {
}

.event-box__variable .react-select {
  line-height: inherit;
  font-size: inherit;
}

.event-box__variable .react-select__control {
  min-height: 23px !important;
}

.event-box__variable .react-select,
.event-box__variable .react-select__control {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.event-box__variable .react-select__single-value {
  color: white;
}

.event-box__variable .react-select__input {
  color: white;
}

.event-box__variable .react-select__input input {
  font-weight: 600;
  line-height: inherit;
  font-size: inherit;
}

.event-box__variable .select select,
.event-box__variable .react-select {
  height: auto !important;
  line-height: inherit;
  font-size: inherit;
}

.event-box__variable .react-select__value-container {
  padding: 0 0 0 0.8rem;
  overflow: visible;
}

.event-box__variable .react-select__indicator svg,
.event-box__variable .react-select__dropdown-indicator svg {
  fill: rgba(255, 255, 255, 0.6);
}

.event-box__variable .react-select__control:hover .react-select__dropdown-indicator svg,
.event-box__variable .react-select__indicator:hover svg,
.event-box__variable .react-select__dropdown-indicator:hover svg {
  fill: white;
}

.event-box__variable .react-select,
.event-box__variable .react-select__control,
.event-box__variable .react-select__single-value,
.event-box__variable .react-select__value-container,
.event-box__variable .react-select__indicators,
.event-box__variable .react-select__dropdown-indicator,
.react-select__value-container div:last-child,
.react-select__value-container .react-select__input input {
  height: auto;
}

.react-select__value-container div:last-child {
  line-height: 0.1;
}

.event-box__action {
  margin-left: 240px;
  margin-right: auto;
  max-width: 600px;  
  text-align: right;

  @media screen and (max-width: $widescreen) {
    margin-left: auto;
    max-width: 100%;
  }
}

.event-box__variable.has-hint {
  border-top-left-radius: 0;

  @media screen and (max-width: $tablet) {
    margin-top: 1.5rem;
  }
}

.event-box__variable .hint {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  font-size: 14px;
  padding: 0.25rem 1rem;
  position: absolute;
  top: -1.42rem;
  left: 0;

  @media screen and (max-width: $tablet) {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    min-width: auto;
    width: auto;
  }
}

.event-box__variable:hover .hint,
.event-box__variable.is-active .hint {
  background-color: white;
  color: black;
}


// overrides
.color-block.is-primary .event-box__text,
.color-block.is-primary .event-box__variable,
.color-block.is-primary .hint {
  color: $purple;
}

.color-block.is-primary .event-box__variable {
  border-color: white;
}

.color-block.is-primary .has-text-light {
  color: white !important;
}

.color-block.is-primary .event-box__variable:hover {
  background: rgba(255, 255, 255, 1);
  color: black;
}

// EVENT HISTORY
.event-history__action-description {
  display: inline-flex;
}

.event-history__date {
  display: inline-flex;
}

// HOMEPAGE EVENT CARD / DISCOVERY
// .home .listing-grid {
//   grid-column-gap: 0;
//   grid-row-gap: 0;
// }

.home .event-card {
//   border-radius: 0;
  // border-width: 0 !important;
  // border-color: transparent;
//   margin: 0;
//   width: 100%;
}

.matcher-row--is-active {
  position: relative;
  z-index: 30001;
}