.footer {
  color: $dark;
  flex: 0 0 350px;
  padding: 0;
  margin-top: 0;
}

.footer a {
  color: rgba(200, 110, 220, 1);
}

.footer a:hover {
  color: rgba(255, 120, 240, 1);
}

.footer--primary {
  background-color: whitesmoke;
  color: $dark;
  font-size: 1.25rem;
  padding: 3.5rem 2rem;
}

.footer--primary {
  // background-image: linear-gradient(to bottom, darken($navbar-grey, 6%) 0%, #161616 70%, #121212 100%);
  font-size: 1.25rem;
  padding: 5.5rem 2rem 4.5rem;
}

.footer--primary svg {
  height: 30px;
}

.footer--primary svg path {
  fill: black;
}

.footer-menu .footer-item {
  border-bottom: 1px solid transparent;
  // color: white;
  color: pink;
  display: inline-block;
  margin: 0 1rem;
  transition: border 300ms ease-in-out;
} 

.footer-menu .footer-item:hover {
  border-bottom-color: rgba(255, 255, 255, 0.5);
}

.footer--primary .footer-item--copyright {
  color: rgb(158, 173, 173);
  display: block;
  margin-top: 0.5rem;
}
