.footer {
  background-color: $footer-background-color;
  border-top: 3px solid whitesmoke;
  padding: 3rem 2rem;
}

.home .footer {
  border: none;
}

.footer-brand svg {
  height: 30px;
}

.footer-brand svg path {
  transition: all 700ms ease-in;
}

// .footer-brand svg:hover path {
//   fill: $purple;
//   transition: all 150ms ease-in;
// }

.footer-brand .brand-svg:hover path {
  fill: $cyan;
  stroke: white;
  transition: all 150ms ease-in;
}

.footer-brand .brand-svg:hover path:first-child {
  fill: $orange;
}

.footer-brand .twitter-svg {
  height: 50px;
}

.footer-brand .twitter-svg path {
  fill: black;
  stroke: none;
  transition: all 150ms ease-in;
}

.footer-brand .twitter-svg:hover path {
  fill: $blue;
}

.footer-item--copyright {
  color: rgb(158, 160, 165);
  display: block;
  margin-top: 0.5rem;
}

.footer-item--copyright a {
  // color: rgba(200, 110, 220, 1);
  color: $pink;
  font-weight: 700;
}

.footer-item--copyright a:hover {
  // color: rgba(255, 120, 240, 1);
  color: darken($pink, 10%);
}

.footer-list .list-item {
  margin: 0 1rem;
  font-weight: 700;
}