.footer {
  background-color: $footer-background-color;
  border-top: 3px solid whitesmoke;
  padding: 3rem 2rem;
}

.home .footer {
  border: none;
}

.footer-brand svg {
  height: 30px;
}

.footer-brand svg path {
  // fill: black;
  transition: fill 100ms ease-in-out;
}

.footer-brand svg:hover path {
  fill: $cyan;
  stroke: black;
  stroke-width: 3px;
}

.footer-brand .twitter-svg {
  height: 50px;
}

.footer-brand .twitter-svg path {
  fill: black;
  stroke: none;
}

.footer-brand .twitter-svg:hover path {
  fill: black;
  stroke: $cyan;
  stroke-width: 0.05rem;
}

.footer-item--copyright {
  color: rgb(158, 160, 165);
  display: block;
  margin-top: 0.5rem;
}

.footer-item--copyright a {
  color: rgba(200, 110, 220, 1);
  font-weight: 700;
}

.footer-item--copyright a:hover {
  color: rgba(255, 120, 240, 1);
}

.footer-list .list-item {
  margin: 0 1rem;
  font-weight: 700;
}