$addonsFormHeight: 57px;

.form {
  // padding: 0 0 8rem;
}

.field:not(:last-child) {
  margin-bottom: 1rem;
}

.label {
  cursor: pointer;
  margin-bottom: 0;
  text-align: left;
}

.label:not(:last-child) {
  margin-bottom: 0.5rem;
}

.switch[type="checkbox"].is-medium.is-outlined + label::before {
  transition: border-color 100ms ease-in-out;
}

.switch[type="checkbox"].is-info.is-outlined:checked + label::before,
.switch[type="checkbox"].is-medium.is-outlined + label::before {
  background-color: white;
}

.switch[type="checkbox"].is-medium.is-outlined + label:hover::before {
  border-color: $cyan;
}

.switch[type="checkbox"].is-medium + label::before {
  top: 0.25rem;
}

.switch[type="checkbox"].is-medium + label::after {
  top: 0.5rem;
}

$hasAddonsformColor: white;

.form .button,
.form .input,
.form .textarea {
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: 700;
  height: 60px;
  margin: 0;
  padding: 4px 25px 5px;
  transition: all 200ms ease-in-out;

  @media screen and (max-width: $mobile) {
    font-size: 0.875rem;
    height: 50px;
    padding: 4px 10px 5px;
  }
}

.has-addons button.button {
  border: 3px solid black;
  padding: 4px 25px 5px 20px;

  @media screen and (max-width: $mobile) {
    padding: 4px 10px 5px;
  }
}

input.input,
textarea.textarea {
  background-color: white;
  box-shadow: none;
  border-width: 5px;
}

input.input:hover,
input.input:focus,
input.input:active,
textarea.textarea:hover,
textarea.textarea:focus,
textarea.textarea:active {
  box-shadow: 1px 2px 30px rgba(255, 255, 255, 0.55);
}

.control:first-child {
  flex: 0 0 62%;

  @media screen and (max-width: $mobile) {
    flex: 0 0 50%;
  }
}

.control:last-child {
  flex: 0 0 38%;

  @media screen and (max-width: $mobile) {
    flex: 0 0 50%;
  }
}

textarea.textarea {
  height: auto;
}

form.is-active button.button,
form.is-active button.button:hover,
form.is-active button.button:focus,
form.is-active button.button:active,
form.is-active input.input,
form.is-active input.input:hover,
form.is-active input.input:focus,
form.is-active input.input:active,
form.is-active textarea.textarea,
form.is-active textarea.textarea:hover,
form.is-active textarea.textarea:focus,
form.is-active textarea.textarea:active {
  box-shadow: 0 0 60px rgba(255, 255, 255, 0.4);
}

.has-addons input.input:hover,
.has-addons input.input:active,
.has-addons input.input:focus,
.has-addons textarea.textarea:hover,
.has-addons textarea.textarea:focus,
.has-addons textarea.textarea:active {
  border: 3px solid $hasAddonsformColor;
}

.form .control,
.form .input,
.form .textarea,
.form .select select,
.form .file-cta,
.form .file-name,
.form .button {
  font-size: 1rem;
}

.label {
  color: $grey;
  font-weight: 600;
  text-transform: uppercase;
}

label.radio {
  color: $grey;
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
  margin-right: 10px;
  width: 90%;
}

.radio-label.is-short {
  width: 200px;
}

.radio-label__other-input {
  margin-left: 40px;
  width: 80%;
}

input[type='radio'] {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

label.radio,
.radio + .radio {
  margin-left: 10px;
}

.radio-label {
  display: inline-block;
  clear: both;
  font-family: $family-sans-serif;
  font-size: 1rem;
  width: 80%;
  transition: color 200ms ease-in-out;
}

.has-bg input.input,
.has-bg textarea.textarea {
  border-color: white;
}

.has-bg input.input:hover,
.has-bg input.input:focus,
.has-bg input.input:active,
.has-bg textarea.textarea:hover,
.has-bg textarea.textarea:focus,
.has-bg textarea.textarea:active {
  border-color: white;
  box-shadow: 1px 2px 30px rgba(255, 255, 255, 0.55);
}

.has-bg .label {
  color: white;
}

.has-bg .button {
  border: 3px solid black;
}

.field.has-addons {
  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }
}

.field.has-addons .control:first-child:not(:only-child) .button,
.field.has-addons .control:first-child:not(:only-child) .input,
.field.has-addons .control:first-child:not(:only-child) .select select {
  @media screen and (max-width: $mobile) {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
}

.field.has-addons .control:last-child:not(:only-child) .button,
.field.has-addons .control:last-child:not(:only-child) .input,
.field.has-addons .control:last-child:not(:only-child) .select select {
  @media screen and (max-width: $mobile) {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

.field.has-addons .button {
  background: black;
  text-transform: capitalize;
  width: 240px;
  z-index: 5;

  @media screen and (max-width: $mobile) {
    width: 100%;
  }
}

.field.has-addons .button:hover,
.field.has-addons .button:focus,
.field.has-addons .button:active {
  border-color: $cyan;
  border-width: 5px;
  transform: scale3d(1, 1, 1);
}

.has-addons input.input {
  border-color: $hasAddonsformColor;
}

.form.is-warning .field {
  opacity: 0.4;
}

.field-addon--icon {
  height: 1.375rem;
  margin: 1rem 1rem 0.5rem;
  width: 1.375rem;
}

.field-addon--zep-token-logo path {
  fill: $grey;
}

.field-addon--error-exclamation path {
  fill: $red;
}

.form.is-warning .field-addon--icon path {
  fill: $yellow;
}

.event-name-accordion.accordion-enter-active,
.event-name-accordion.accordion-enter-done {
  height: 180px;
}

.event-topics-accordion.accordion-enter-active,
.event-topics-accordion.accordion-enter-done {
  height: 500px;
}

.accordion--signup-thank-you.accordion-enter-active,
.accordion--signup-thank-you.accordion-enter-done {
  height: 420px;
}

.accordion--signup-form.accordion-enter-active,
.accordion--signup-form.accordion-enter-done {
  height: 220px;
}