header {
  top: -80px;
  height: 100vh;
}

// This gets animated by a React component (BodyClass.jsx)
.home-page-body:before {
  background-image: url(./assets/images/notus-landing-site-bg4.svg);
  background-repeat: no-repeat;
  background-size: 42%;
  background-position-x: 50%;
  position: relative;

  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: -50%;
  z-index: -1;

  @media screen and (max-width: $fullhd + 400px) {
    background-size: 45%;
    top: 20px;
  }

  @media screen and (max-width: $fullhd + 200px) {
    // background-color: pink;
    background-size: 48%;
    top: 0;
  }

  @media screen and (max-width: $widescreen + 100px) {
    // background-color: red;
    background-size: 49%;
    top: 50px;
  }

  @media screen and (max-width: $tablet) {
    // background-color: aquamarine;
    // background-size: 49%;
    background-size: unset;
    background-position-x: 50px;
    top: 120px;
  }
}

.home-page-body:before path {
  stroke: aqua;
}

.hero,
.hero strong {
  color: white;
}

.hero .hero-body {
  padding-left: 0;
  padding-right: 0;
}

.hero.is-large .hero-body {
  padding: 8rem;

  @media screen and (max-width: $fullhd) {
    padding-left: 0;
    padding-right: 0;
  }
}

.hero h4 {
  line-height: 1.6;
}

.hero.is-medium .hero-body,
.hero.is-link {
  background-color: transparent;
  position: relative;
}

.hero-bg {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.hero--diagram {
  position: relative;
  right: -20px;
  top: -10px;
  transform: scale3d(1.05, 1.05, 1);

  @media screen and (max-width: $desktop) {
    right: 0;
    top: -50px;
  }
}

@keyframes animateHeroBg {
  0% {
    background-position: 0 0, 50% 50%;
    background-size: 200% 200%, auto;
  }
  6% {
    background-position: 0 0, 50% 50%;
    background-size: 200% 200%, auto;
  }
  50% {
    background-position: 100% 30%, 50% 50%;
    background-size: 1200% 1200%, auto;
  }
  65% {
    background-position: 100% 30%, 50% 50%;
    background-size: 1200% 1200%, auto;
  }
  85% {
    background-position: 0 0, 50% 50%;
    background-size: 200% 200%, auto;
  }
  100% {
    background-position: 0 0, 50% 50%;
    background-size: 200% 200%, auto;
  }
}


.hero.is-medium .hero-body {
  line-height: 2;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 5.5rem;
  padding-top: 5rem;

  @media screen and (max-width: $desktop) {
    padding-bottom: 4rem;
    padding-top: 4rem;
  }
}

.hero--title {
  color: white;
  font-weight: 700;
  font-size: 78px;
  position: relative;

  @media screen and (max-width: $fullhd + 200px) {
    font-size: 52px;
  }

  @media screen and (max-width: $mobile - 300px) {
    font-size: 30px;
    top: -70px;
  }
}

.hero .hero--description-text {
  margin-top: 20px;
  position: relative;

  @media screen and (max-width: $desktop) {
    font-size: 1.25rem;
  }

  @media screen and (max-width: $mobile - 300px) {
    font-size: 1rem;
    top: -70px;
  }
}

.hero--description-text,
.hero--title {
  color: white;
}

.hero--title.content:not(:last-child),
.hero--title.title:not(:last-child),
.hero--title.subtitle:not(:last-child) {
  margin-bottom: 0.8rem;
}


.hero p {
  font-size: 1.125rem;
  margin: 1rem 0;

  @media screen and (max-width: $tablet) {
    font-size: 0.875rem;
  }
}

.hero p .is-size-7 {
  @media screen and (max-width: $tablet) {
    display: block;
    font-size: 0.75rem !important;
    margin-top: 0.5rem;
  }
}

.hero p:first-child {
  margin-top: 0;
}

.hero p:last-child {
  margin-bottom: 0;
}

// Phase 1 before sign up
.hero-bg {
}

.hero .hero-body {
  position: relative;
  margin-top: 250px;

  @media screen and (max-width: $tablet) {
    margin-top: 150px;
  }
}

// Phase 2 after sign up form submitted
.hero.is-signed-up .hero-bg {
  height: 600px;

  @media screen and (max-width: $tablet) {
    height: 500px;
  }

  @media screen and (max-width: $mobile - 100px) {
    height: 550px;
  }
}

.hero.is-signed-up .hero-body {
  margin-top: 100px;

  @media screen and (max-width: $tablet) {
    margin-top: 80px;
  }

  @media screen and (max-width: $mobile - 100px) {
    margin-top: 100px;
  }
}

.hero.is-signed-up {
  height: 720px;

  @media screen and (max-width: $fullhd) {
    height: 740px;
  }

  @media screen and (max-width: $tablet) {
    height: 600px;
  }

  @media screen and (max-width: $mobile) {
    height: 620px;
  }
}
