.message {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

.message--cta {
  border-left: 0;
}

.message--cta .button {
  margin-top: 1rem;
}

.message-body--text {
  font-size: 1.25rem;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

.message-white {
  // box-shadow: 0px 1px 10px rgba(120, 120, 180, 0.15);
  border-radius: 10px;
  margin-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  text-align: center;

  @media screen and (max-width: $tablet) {
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
}

.message-white--body {
  border-left: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.message-white--body .button {
  margin-top: 1rem;
}

.message a:not(.button):not(.tag) {
  text-decoration: none;
}

.message-question {
  height: 5rem;
}
