::placeholder,
.input::placeholder,
.textarea::placeholder,
.react-select .react-select__placeholder {
  color: rgba(160, 160, 160, 1);
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

::selection {
  // background-color: $cyan;
  background-color: darken($blue, 10%);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
textarea,
code,
span {
  opacity: 0;
  transition: all 250ms ease-in-out;
}

/* Having transaction: all makes the input text lag behind typing.  Just opacity is fine. */
input {
  transition: opacity 250ms ease-in-out;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active a,
.wf-active input,
.wf-active button,
.wf-active textarea,
.wf-active code,
.wf-active span {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
}

h1 {
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  margin-bottom: 1.25rem;
}

.has-text-weight-extrabold {
  font-weight: 800;
}

.is-size-xlarge {
  font-size: 4.5rem !important;

  @media screen and (max-width: $tablet) {
    font-size: 3.5rem !important;
  }
}

.is-size-1 {
  @media screen and (max-width: $tablet) {
    font-size: 1.5rem !important;
  }
}

.is-size-2 {
  @media screen and (max-width: $tablet) {
    font-size: 1.35rem !important;
  }
}

.is-size-3 {
  @media screen and (max-width: $tablet) {
    font-size: 1.25rem !important;
  }
}

.is-size-4 {
  @media screen and (max-width: $tablet) {
    font-size: 1.15rem !important;
  }
}

.is-size-5 {
  @media screen and (max-width: $tablet) {
    font-size: 1rem !important;
  }
}

.is-size-6 {
  @media screen and (max-width: $tablet) {
    font-size: 1rem !important;
  }
}

.has-text-primary {
  color: $link !important;
}

a.has-text-primary:hover,
a.has-text-primary:focus {
  color: $link-hover !important;
}

a.is-dark {
  color: $text;
}

.is-monospaced {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;

  font-family: $code-family;
  letter-spacing: 0.05rem;
}

.is-borderless {
  border: 0;
}

// This is used by the page / layout transitions
.is-positioned-absolutely {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
}

.section--main-content {
  margin-top: 2rem;
  min-height: 700px;
}

// This is used by the page / layout transitions
.is-full-width {
  width: 100%;
}

.button-has-icon .has-text-link {
  margin-left: 0.5rem;
}

a {
  transition: all 200ms ease-in-out;
}

.has-text-link,
.has-hover-border {
  border-bottom: 1px solid transparent;
  transition: all 200ms ease-in-out;
}

.has-hover-border:hover {
  border-bottom-color: rgba(5, 110, 220, 0.5);
}

.button-has-icon {
  border: 0;
}

@media screen and (max-width: $tablet) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

.icon-small {
  height: 16px;
  width: 16px;
}

.has-text-right--desktop {
  @media screen and (min-width: $desktopMin) {
    text-align: right;
  }
}

.is-size-4 {
  @media screen and (max-width: $desktop) {
    font-size: 1.25rem !important;
    // line-height: 1.325;
  }
}

.has-text-white a,
.has-text-white button,
.has-text-black a,
.has-text-black button,
.has-text-light a,
.has-text-light button,
.has-text-dark a,
.has-text-dark button,
.has-text-primary a,
.has-text-primary button,
.has-text-link a,
.has-text-link button,
.has-text-info a,
.has-text-info button,
.has-text-success a,
.has-text-success button,
.has-text-warning a,
.has-text-warning button,
.has-text-grey-darker a,
.has-text-grey-darker button,
.has-text-grey-dark a,
.has-text-grey-dark button,
.has-text-grey a,
.has-text-grey button,
.has-text-grey-light a,
.has-text-grey-light button,
.has-text-grey-lighter a
.has-text-grey-lighter button,{
  color: inherit;
}

.has-text-light {
  color: rgba(255, 255, 255, 0.7) !important;
}

.has-text-light:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.tag:not(body) {
  font-family: $code-family;
  font-size: 0.625rem;
  font-weight: 900;
  height: 1.25rem;
}

.tag.has-arrow-left {
  position: relative;
}

.tag.has-arrow-left::before {
  content: "";

  border-radius: 40px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $info;
  width: 10px;
  height: 100%;
  position: absolute;
  left: -8px;
}

.tx-in-progress .field.has-addons {
  border-color: $blue;
}

.has-half-margin {
  margin-bottom: 0.5rem !important;
}

.help {
  font-size: 1rem;
}

.has-break-word {
  overflow-wrap: break-word;
}

.is-family-serif {
  font-family: $family-serif;
}

hr {
  width: 50%;
}

.img-responsive {
  height: 100%;
  max-width: 100%;
}

.card {
  border-radius: 6px;
  margin: 0;
}

.card-header {
  box-shadow: none;
  color: $dark;
  display: block;
  font-family: $code-family;
  letter-spacing: -0.05rem;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 1.5rem 2rem 0;
  text-align: center;
  width: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

.card-footer {
  border: none;
  display: block;
}

.has-bg {
  background-image: 
    linear-gradient(220deg, $purple 0%, $purple 10%, $pink 100%),
    url('/funky-lines.png');
  background-blend-mode: multiply;
  background-size: 100% 100%, 400px 400px;
}

.has-bg__dark {
  background-color: darken(saturate($purple, 100%), 34%);
}

.has-bg__cyan {
  background-color: darken(saturate($purple, 100%), 21%);
  background-blend-mode: multiply;
}

.has-bg.is-blue {
  background-image: none;
  background-color: lighten(saturate($blue, 100%), 12%);
  background-blend-mode: initial;
  // background-blend-mode: multiply;
  // background-size: 100% 100%, 400px 400px;
}

.has-bg .card-content,
.has-bg .card-header,
.has-bg .card-body,
.has-bg .card-footer {
  color: white;
}

.card-content {
  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }  
}

.col-xtra-wide-touch {
  margin-left: -10%;
  width: 120%;
}

.col-xtra-wide-touch .is-size-1,
.col-xtra-wide-touch .card-footer {
  margin-left: 20px;
  margin-right: 20px;
}

// .card-xtra-wide-touch {
//   margin-left: -10%;
//   width: 120%;
// }

.has-shadow {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.has-shadow-big {
  box-shadow: 0 17px 50px rgba(50, 50, 93, .1), 0 7px 20px rgba(0, 0, 0, .08);
}

.logo-signup {
  height: 60px;
  margin: 1.5rem auto 2rem auto;
  width: 200px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.logo-signup path {
  fill: white
}

.has-no-top-padding {
  padding-top: 0;
}

.icon--signup {
  margin-right: 10px;
  position: relative;
  height: 20px;
  top: 3px;
  width: 20px;
}

.icon--signup-large {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

.column {
  padding: 0;
}

.ml45 {
  margin-left: 45px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt10 {
  padding-top: 10px !important;
}



.notus-toast {
  background: transparent;
  font-size: 2rem;
  margin-left: 0;
  left: 0;
  padding: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 20000;
}

.notus-toast .Toastify__toast {
  color: white;
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 0;
  min-height: 70px;
  padding: 0;
}

.notus-toast .Toastify__toast--default {
  background: $orange;
}

.notus-toast .Toastify__toast--success {
  background: $green;
}

.notus-toast .Toastify__toast--error {
  background: $red;
}

.notus-toast .Toastify__toast--warn {
  background: $yellow;
}

.notus-toast .Toastify__toast--info {
  background: $purple;
}

.notus-toast .Toastify__toast-body {
  flex: 0 0 100%;
  font-size: 26px;
  margin: 1.1rem auto;

  @media screen and (max-width: $tablet) {
    font-size: 22px;
  }
}

.notus-toast .Toastify__close-button {
  align-self: center;
  color: white;
  flex: 1 0 0;
  font-size: 26px;
  margin-left: -6%;

  @media screen and (max-width: $tablet) {
    font-size: 22px;
    margin-left: -16%;
  }
}

.signup-message {
  background-color: rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 480px;
}

.color-block.is-primary .signup-message {
  background-color: rgba(255, 255, 255, 0.5);
  color: $black;
}

.signup-message--footer {
  color: rgba(255, 255, 255, 0.7);
}

.color-block.is-primary .signup-message--footer {
  color: rgba(5, 20, 30, 0.7);
  display: block;
  margin-top: 20px;
}

.is-white-ter {
  background-color: $white-ter;
}

.is-dark {
  background-color: $grey-darker;
}

.listing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.drag-handle {
  cursor: grab;
  margin-left: 2rem;
  margin-right: 1rem;
}

.drag-handle path,
.drag-handle rect,
.drag-handle circle,
.drag-handle svg {
  stroke: rgba(255, 255, 255, 0.7);
}

.drag-handle:hover path,
.drag-handle:hover rect,
.drag-handle:hover circle,
.drag-handle:hover svg {
  stroke: white;
}

.is-full-width-background {
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.is-brightness-70 {
  background-color: rgba(0, 0, 0, 0.3);
}

.is-brightness-40 {
  background-color: rgba(0, 0, 0, 0.6);
}

.is-top-layer {
  z-index: 3;
}

.color-block.is-grey,
.color-block.is-blue,
.color-block.is-dark,
.color-block.is-dark-colored,
.color-block.is-info,
.color-block.is-pink,
.color-block.is-success,
.color-block.is-danger,
.color-block.is-purple,
.color-block.is-link {
  color: white;
}

.color-block.is-white-ter {
  background-color: $white-ter;
}

.color-block.is-blue {
  background-color: $blue;
}

.color-block.is-grey {
  background-color: $grey;
}

.color-block.is-dark-colored {
  background-color: darken($blue, 25%);
}

.color-block.is-dark {
  background-color: $dark;
}

.color-block.is-link {
  background-color: $link;
}

.color-block.is-info {
  background-color: $info;
}

.color-block.is-primary {
  background-color: lighten($cyan, 20%);
  color: $purple;
}

.color-block.is-purple {
  background-color: $purple;
}

.color-block.is-success {
  background-color: $success;
}

.color-block.is-warning {
  background-color: $warning;
}

.color-block.is-danger {
  background-color: $danger;
}

.color-block.is-pink {
  background-color: $pink;
}

.is-full-opacity {
  opacity: 1 !important;
  transition: opacity 1000ms ease-in-out;
  // will-change: opacity;
}

.is-half-opacity {
  opacity: 0.5 !important;
  transition: opacity 1000ms ease-in-out;
  // will-change: opacity;
}

.is-two-thirds-opacity {
  opacity: 0.33 !important;
  transition: opacity 1000ms ease-in-out;
  // will-change: opacity;
}

.has-margin-left-auto {
  margin-left: auto !important;
}

.has-margin-right-auto {
  margin-right: auto !important;
}

.cookie-consent {
  background-color: $dark;
  bottom: 0;
  color: white;
  left: 0;
  line-height: 1.5;
  opacity: 0;
  transition: opacity 500ms ease-out;
  padding: 2rem 0;
  position: fixed;
  right: 0;
  z-index: 300000;
}

.cookie-consent-enter {
  opacity: 1;
}

.cookie-consent--inner {
  font-size: 1.2rem;
  margin: 0 auto;
  max-width: 1214px;

  @media screen and (max-width: $widescreen) {
    font-size: 1rem;
    margin: 0 2rem;
  }
}

.cookie-consent--inner a {
  color: rgba(255, 255, 255, 0.5);
}

.cookie-consent--inner a:hover,
.cookie-consent--inner a:active,
.cookie-consent--inner a:focus {
  color: white;
}

.cookie-consent .button {
  display: block;
  margin: 1rem 0 0 0;
}

.cookie-consent-exit {
  bottom: -600px;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms ease-in;
}

svg.is-small {
  height: 32px;
  width: 32px;
}

svg.is-medium {
  height: 48px;
  width: 48px;
}

svg.is-large {
  height: 64px;
  width: 64px;
}

.home .color-block {
  // transform: skewY(-2deg);
  // transform-origin: 1150px;
}

.bottom-svg,
.top-svg,
.overflow-bottom-svg {
  position: absolute;
  left: 0;
  height: 8em;
  width: 100%;
}

.bottom-svg {
  bottom: 0;
  margin-bottom: -1px;
}

.top-svg {
  top: -8em;
  margin-top: 1px;
}

.overflow-bottom-svg {
  bottom: -8em;
  margin-bottom: 2px;
  z-index: 100;
}

svg {
  overflow: visible;
}

.is-positioned-relatively {
  position: relative;
}

.has-fill-white {
  fill: white;
}

.has-fill-footer {
  fill: $footer-background-color;
}

.has-fill-dark {
  fill: $dark;
}

.has-fill-primary {
  fill: lighten($primary, 15%);
}

.has-fill-light {
  fill: $light;
}

.has-fill-cyan {
  fill: lighten($cyan, 20%);
}

.has-fill-purple {
  fill: $purple;
}

.has-fill-pink {
  fill: $pink;
}