::placeholder,
.input::placeholder,
.textarea::placeholder {
  color: rgba(200, 190, 210, 0.8);
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
  background-color: white !important;
}

::selection {
  background-color: $dark;
  color: white;
}



// ================= BEGIN .has-blur-to-focus


// .button.is-link.is-outlined.has-blur-to-focus {
//   border-color: transparent !important;
// }

// $hasBlurToFocusDuration: 0.3s;
// $hasBlurToFocusBlur: 22px;
// $hasBlurToFocusCurve: ease-in;

// .has-blur-to-focus .inner-blur-to-focus {
//   background-color: transparent;
//   border-color: #141414;
//   border-radius: inherit;
//   border-style: solid;
//   width: 100%;
//   height: 100%;
//   position: absolute;
//   top: 0;
//   left: 0;


//   -webkit-transition: $hasBlurToFocusDuration -webkit-filter $hasBlurToFocusCurve;
//   -moz-transition: $hasBlurToFocusDuration -moz-filter $hasBlurToFocusCurve;
//   -o-transition: $hasBlurToFocusDuration -o-filter $hasBlurToFocusCurve;
//   transition: $hasBlurToFocusDuration filter $hasBlurToFocusCurve;

//   -webkit-filter: blur($hasBlurToFocusBlur); -moz-filter: blur($hasBlurToFocusBlur);
//   -o-filter: blur($hasBlurToFocusBlur); -ms-filter: blur($hasBlurToFocusBlur); 
//   filter: url(#blur); filter: blur($hasBlurToFocusBlur);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='15');

// }

// .has-blur-to-focus .inner-blur-to-focus:hover {


//   -webkit-filter: blur(0); -moz-filter: blur(0);
//   -o-filter: blur(0); -ms-filter: blur(0); 
//   filter: url(#blur); filter: blur(0);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
// }

// ================= END .has-blur-to-focus

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input,
button,
textarea,
code,
span {
  opacity: 0;
  transition: all 250ms ease-in-out;
}

/* Having transaction: all makes the input text lag behind typing.  Just opacity is fine. */
input {
  transition: opacity 250ms ease-in-out;
}

.wf-active h1,
.wf-active h2,
.wf-active h3,
.wf-active h4,
.wf-active h5,
.wf-active h6,
.wf-active p,
.wf-active a,
.wf-active input,
.wf-active button,
.wf-active textarea,
.wf-active code,
.wf-active span {
  opacity: 1;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
}

strong  {
  color: inherit;
}

h1 {
  line-height: 1.25;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

p {
  font-size: 1.25rem;
  
  margin-bottom: 1.25rem;

  @media screen and (max-width: $tablet) {
    font-size: 2rem;
  }
}

.has-text-weight-extrabold {
  font-weight: 800;
}

.is-size-xlarge {
  font-size: 3.5rem !important;
  line-height: 1.2;

  @media screen and (max-width: $tablet) {
    font-size: 3.5rem !important;
  }

  @media screen and (max-width: $mobile) {
    font-size: 2.2rem !important;
  }
}

.is-size-1 {
  @media screen and (max-width: $tablet) {
    font-size: 1.5rem !important;
  }
}

.is-size-2 {
  @media screen and (max-width: $tablet) {
    font-size: 1.35rem !important;
  }
}

.is-size-3 {
  @media screen and (max-width: $tablet) {
    font-size: 1.25rem !important;
  }
}

.is-size-4 {
  @media screen and (max-width: $tablet) {
    font-size: 1.15rem !important;
  }
}

.is-size-5 {
  @media screen and (max-width: $tablet) {
    font-size: 1rem !important;
  }
}

.is-size-6 {
  @media screen and (max-width: $tablet) {
    font-size: 1rem !important;
  }
}

.is-size-7 svg {
  width: 20px;
}

.is-size-8 {
  font-size: 0.825rem;
}

.has-text-primary {
  color: $link !important;
}

a.has-text-primary:hover,
a.has-text-primary:focus {
  color: $link-hover !important;
}

a.is-dark {
  color: $text;
}

.is-monospaced {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;

  font-family: $code-family;
  letter-spacing: 0.05rem;
}

.is-borderless {
  border: 0;
}

// This is used by the page / layout transitions
.is-positioned-absolutely {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
}

.section.section--main-content {
  margin-top: 0;
  padding-top: 0;
  min-height: 500px;
}

// This is used by the page / layout transitions
.is-full-width {
  width: 100%;
}

a {
  transition: all 200ms ease-in-out;
}

.has-text-link,
.has-hover-border {
  border-bottom: 1px solid transparent;
  transition: all 200ms ease-in-out;
}

.has-hover-border:hover {
  border-bottom-color: rgba(5, 110, 220, 0.5);
}

@media screen and (max-width: $tablet) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

.icon-small {
  height: 16px;
  width: 16px;
}

.has-text-right--desktop {
  @media screen and (min-width: $desktop-min) {
    text-align: right;
  }
}

.is-size-4 {
  @media screen and (max-width: $desktop) {
    font-size: 1.25rem !important;
    // line-height: 1.325;
  }
}

.has-text-white a,
.has-text-white button,
.has-text-black a,
.has-text-black button,
.has-text-light a,
.has-text-light button,
.has-text-dark a,
.has-text-dark button,
.has-text-primary a,
.has-text-primary button,
.has-text-link a,
.has-text-link button,
.has-text-info a,
.has-text-info button,
.has-text-success a,
.has-text-success button,
.has-text-warning a,
.has-text-warning button,
.has-text-grey-darker a,
.has-text-grey-darker button,
.has-text-grey-dark a,
.has-text-grey-dark button,
.has-text-grey a,
.has-text-grey button,
.has-text-grey-light a,
.has-text-grey-light button,
.has-text-grey-lighter a
.has-text-grey-lighter button,{
  color: inherit;
}

.has-text-light {
  color: rgba(255, 255, 255, 0.7) !important;
}

.has-text-light:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.has-text-lighter {
  color: rgba(255, 255, 255, 0.5) !important;
}

.has-text-lighter:hover {
  color: rgba(255, 255, 255, 1) !important;
}

.tag:not(body) {
  font-family: $code-family;
  font-size: 0.625rem;
  font-weight: 900;
  height: 1.25rem;
}

.tag.has-arrow-left {
  position: relative;
}

.tag.has-arrow-left::before {
  content: "";

  border-radius: 40px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $info;
  width: 10px;
  height: 100%;
  position: absolute;
  left: -8px;
}

.tx-in-progress .field.has-addons {
  border-color: $blue;
}

.has-half-margin {
  margin-bottom: 0.5rem !important;
}

.help {
  font-size: 1rem;
}

.has-break-word {
  overflow-wrap: break-word;
}

.is-family-serif {
  font-family: $family-serif;
}

hr {
  width: 50%;
}

.img-responsive {
  height: 100%;
  max-width: 100%;
}

.card {
  border-radius: 6px;
  margin: 0;
}

.card-header {
  box-shadow: none;
  color: $dark;
  display: block;
  font-family: $code-family;
  letter-spacing: -0.05rem;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 1.5rem 2rem 0;
  text-align: center;
  width: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

.card-footer {
  border: none;
  display: block;
}

.has-bg {
  background-image: 
    linear-gradient(20deg, $blue 0, $purple 30%, $purple 70%, darken($pink, 20%) 100%);
    // url('/funky-lines.png');
  background-blend-mode: multiply;
  background-size: 100% 100%, 400px 400px;
}

.has-bg__dark {
  background-color: darken(saturate($purple, 100%), 34%);
}

// .has-bg__cyan {
//   background-color: darken(saturate($purple, 100%), 21%);
//   background-blend-mode: multiply;
// }

.has-bg.is-blue {
  background-image: none;
  background-color: lighten(saturate($blue, 100%), 12%);
  background-blend-mode: initial;
  // background-blend-mode: multiply;
  // background-size: 100% 100%, 400px 400px;
}

.has-bg .card-content,
.has-bg .card-header,
.has-bg .card-body,
.has-bg .card-footer {
  color: white;
}

.card-content {
  @media screen and (max-width: $tablet) {
    padding: 1rem;
  }  
}

.col-xtra-wide-touch {
  margin-left: -5%;
  width: 110%;
}

.col-xtra-wide-touch .is-size-1,
.col-xtra-wide-touch .card-footer {
  margin-left: 20px;
  margin-right: 20px;
}

.has-shadow {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.has-shadow-big {
  box-shadow: 0 17px 50px rgba(50, 50, 93, .1), 0 7px 20px rgba(0, 0, 0, .08);
}

.has-no-top-padding {
  padding-top: 0;
}

.icon--signup {
  margin-right: 10px;
  position: relative;
  height: 20px;
  top: 3px;
  width: 20px;
}

.icon--signup-large {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

.column {
  padding: 0;
}

.notus-toast {
  background: transparent;
  font-size: 2rem;
  margin-left: 0;
  left: 0;
  padding: 0;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 80000;
}

.notus-toast .Toastify__toast a,
.notus-toast .Toastify__toast a:visited,
.notus-toast .Toastify__toast a:focus {
  color: white;
  text-decoration: underline;
}

.notus-toast .Toastify__toast a:hover {
  color: #ececec;
}

.notus-toast .Toastify__toast {
  color: white;
  font-family: inherit;
  font-weight: 600;
  margin-bottom: 0;
  min-height: 70px;
  padding: 0 2.5rem;
}

.notus-toast .Toastify__toast--default {
  background: $orange;
}

.notus-toast .Toastify__toast--success {
  background: $green;
}

.notus-toast .Toastify__toast--error {
  background: $red;
}

.notus-toast .Toastify__toast--warning {
  background: darken($yellow, 6%);
}

.notus-toast .Toastify__toast--info {
  background: $blue;
  // background-image: linear-gradient(220deg, $purple 0%, $purple 10%, $pink 100%);
}

.notus-toast .Toastify__toast-body {
  flex: 0 0 100%;
  font-size: 26px;
  margin: 1.1rem auto;

  @media screen and (max-width: $tablet) {
    font-size: 22px;
  }
}

.notus-toast .Toastify__close-button {
  align-self: center;
  color: white;
  flex: 1 0 0;
  font-size: 26px;
  opacity: 0.5;
  margin-left: 0;

  @media screen and (max-width: $tablet) {
    font-size: 22px;
    margin-left: 10px;
  }
}

.notus-toast:hover .Toastify__close-button {
  opacity: 1;
}

.signup-message {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  max-width: 480px;
}

.hero-body .signup-message {
  margin-left: 0;
}

.color-block.is-primary .signup-message {
  background-color: rgba(255, 255, 255, 0.5);
  color: $black;
}

.signup-message--footer {
  color: rgba(255, 255, 255, 0.7);
}

.color-block.is-primary .signup-message--footer {
  color: rgba(5, 20, 30, 0.7);
  display: block;
  margin-top: 20px;
}

.is-white-ter {
  background-color: $white-ter;
}

.is-dark {
  background-color: $grey-darker;
}

.listing-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

.listing-grid.listing-grid--table {
  grid-template-columns: auto;
  grid-column-gap: 0;
  grid-row-gap: 0;

  @media screen and (max-width: $tablet) {
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  }
}

// .event-card--small

.drag-handle {
  cursor: grab;
  margin-left: 1rem;
  margin-right: 1rem;
}

.drag-handle path,
.drag-handle rect,
.drag-handle circle,
.drag-handle svg {
  stroke: rgba(255, 255, 255, 0.7);
}

.drag-handle:hover path,
.drag-handle:hover rect,
.drag-handle:hover circle,
.drag-handle:hover svg {
  stroke: white;
}

.is-full-width-background {
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
}

.is-brightness-80 {
  background-color: rgba(0, 0, 0, 0.2);
}

.is-brightness-60 {
  background-color: rgba(0, 0, 0, 0.4);
}

.is-brightness-40 {
  background-color: rgba(0, 0, 0, 0.6);
}

.is-brightness-15 {
  background-color: rgba(0, 0, 0, 0.85);
}

.color-block {
  color: white;
}

.color-block.is-light {
  background-color: $white;
  color: $dark;
}

.color-block.is-white-ter {
  background-color: $white-ter;
  color: $dark;
}

.color-block.is-blue {
  background-color: $blue;
}

.color-block.is-grey {
  background-color: $grey;
}

.color-block.is-dark-colored {
  background-color: #22356f;
}

.color-block.is-dark {
  background-color: darken($dark, 5%);
}

.color-block.is-link {
  background-color: $link;
}

.color-block.is-info {
  background-color: $info;
}

.color-block.is-orange {
  background-color: $orange;
}

.color-block.is-primary {
  background-color: lighten($cyan, 20%);
  color: $purple;
}

.color-block.is-purple {
  // background-color: $purple;
  background-color: #a560e8;
}

.color-block.is-success {
  background-color: $success;
}

.color-block.is-warning {
  background-color: $warning;
}

.color-block.is-danger {
  background-color: $danger;
}

.color-block.is-pink {
  background-color: $pink;
}

.has-margin-left-auto {
  margin-left: auto !important;
}

.has-margin-right-auto {
  margin-right: auto !important;
}

.cookie-consent {
  background-color: $dark;
  bottom: 0;
  color: white;
  left: 0;
  line-height: 1.3;
  opacity: 0;
  transition: opacity 500ms ease-out;
  padding: 1rem 0;
  position: fixed;
  right: 0;
  z-index: 70000;

  @media screen and (max-width: $mobile) {
    padding: 1rem 0;
  }
}

.cookie-consent-enter {
  opacity: 1;
}

.cookie-consent--inner {
  font-size: 0.825rem;
  margin: 0 auto;
  max-width: 814px;

  @media screen and (max-width: $widescreen) {
    font-size: 1rem;
    margin: 0 2rem;
  }

  @media screen and (max-width: $mobile) {
    font-size: 0.825rem;
    margin: 0 1rem;
  }
}

.cookie-consent--inner a {
  color: rgba(255, 255, 255, 0.5);
}

.cookie-consent--inner a:hover,
.cookie-consent--inner a:active,
.cookie-consent--inner a:focus {
  color: white;
}

.cookie-consent .button {
  display: block;
  // margin: 1rem 0 0 0;
}

.cookie-consent-exit {
  bottom: -600px;
  opacity: 0;
  pointer-events: none;
  transition: all 200ms ease-in;
}

.bottom-svg,
.top-svg,
.overflow-bottom-svg,
.footer-bottom-svg {
  position: absolute;
  left: 0;
  height: 13em;
  pointer-events: none;
  width: 100%;
}

.bottom-svg {
  bottom: 0;
  margin-bottom: -1px;
  transform: rotate(180deg);
}

.top-svg {
  top: -8.5em;
  margin-top: 1px;
}

.footer-bottom-svg {
  bottom: -5em;
}

.has-fill-dark,
.has-fill-dark path {
  fill: darken($dark, 5%);
}

.has-fill-white,
.has-fill-white path {
  fill: white;
}

.has-fill-footer,
.has-fill-footer path {
  fill: $footer-background-color;
}

.has-fill-primary,
.has-fill-primary path {
  fill: lighten($primary, 15%);
}

.has-fill-light,
.has-fill-light path {
  fill: $light;
}

.has-fill-cyan,
.has-fill-cyan path {
  fill: lighten($cyan, 20%);
}

.has-fill-purple,
.has-fill-purple path {
  fill: #a560e8;
}

.has-fill-pink,
.has-fill-pink path {
  fill: $pink;
}

.overflow-bottom-svg {
  bottom: -8em;
  margin-bottom: 2px;
  z-index: 100;
}

svg {
  overflow: visible;
}

.is-positioned-relatively {
  position: relative;
}

.is-underlined {
  text-decoration: underline;
}

.is-inline-flex {
  display: inline-flex;
}

.__react_component_tooltip {
  font-size: 0.825rem;
  font-weight: 500;
  text-align: center;
  z-index: 60000;
}

.__react_component_tooltip.show {
  opacity: 1;
}

.is-layer-10 {
  z-index: 10000;
}

ul.list {
  list-style: inside;
}

.has-border-info {
  border-color: $info !important;
}

.has-border-primary {
  border-color: $primary !important;
}

.has-border-link {
  border-color: $link !important;
}

.align-items-flex-start {
  align-items: flex-start !important;
} 

.align-items-flex-end {
  align-items: flex-end !important;
} 

.justify-content-flex-start {
  justify-content: flex-start !important;
  margin-right: auto !important;
} 

.justify-content-flex-end {
  justify-content: flex-end !important;
  margin-left: auto !important;
} 

.publish-button {
  @media screen and (max-width: $desktop) { 
    margin-top: 0.5rem;
  }
}

.flex-button {
  display: flex;
}

.flex-button svg:first-child {
  margin-right: 10px;
}

.click-to-scroll {
  // background-color: transparent;
  background-color: white;
  background-size: 100%;
  // background-image: url(/assets/home/new_home/scroll_indicator-e2c5a6e….svg);
  background-repeat: no-repeat;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  // left: 800px;
  // margin: 0 auto;
  bottom: -100px;
  cursor: pointer;
  display: block;
  height: 70px;
  left: 0;
  padding: 20px;
  opacity: 1;
  right: 0;
  margin: 0 auto;
  position: fixed;
  width: 100px;

  transition: all 200ms ease-in-out;
}

.click-to-scroll.click-to-scroll__appear {
  bottom: 0;
}

.click-to-scroll:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.about--roadmap {
  height: 1630px;
  transform-origin: 0 0;
 
  @media screen and (max-width: $tablet) {
    height: 1610px;
  }

  @media screen and (max-width: $mobile - 300px) {
    height: 600px;
  }
}

.about--roadmap--goal-primary,
.about--roadmap--goal-secondary {
  // border: 1px dotted orange;
  min-height: 80px;
  margin-left: -30px;
}

.about--roadmap--goal-primary:first-of-type {
  margin-bottom: 70px;
  margin-top: 50px;
}

.about--roadmap--goal-primary:last-of-type {
  // background: pink;
  margin-bottom: 90px;
  margin-top: 65px;
}

.about--roadmap--goal-secondary {
  // border: 1px dotted blue;
  padding-bottom: 14px;
  margin-top: 45px;
  max-height: 90px;
}