// in adobe fonts package
// font-family: arya-single, sans-serif;

::placeholder {
  color: rgba(27, 4, 4, 0.15);
}

::selection {
  background-color: $info;
  color: white;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
}

h1 {
  line-height: 1.25;
}

.is-size-1 {
  @media screen and (max-width: $tablet) {
    font-size: 1.5rem !important;
  }
}

.is-size-5 {
  @media screen and (max-width: $tablet) {
    font-size: 1rem !important;
  }
}

.has-text-primary {
  color: $link !important;
}

a.has-text-primary:hover,
a.has-text-primary:focus {
  color: $link-hover !important;
}

a.is-dark {
  color: $text;
}

.is-monospaced {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;

  font-family: $code-family;
  letter-spacing: 0.05rem;
}

.is-borderless {
  border: 0;
}

// This is used by the page / layout transitions
.is-positioned-absolutely {
  display: flex;
  position: absolute;
  flex-direction: column;
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
}

.section--main-content {
  min-height: 600px;
}

// This is used by the page / layout transitions
.is-full-width {
  width: 100%;
}

.button-has-icon .has-text-link {
  margin-left: 0.5rem;
}

a {
  // border-bottom: 1px solid transparent;
  transition: all 200ms ease-in-out;
}

a:hover {
  // border-bottom-color: rgba(200, 110, 220, 0.55);
}

.has-text-link,
.has-hover-border {
  border-bottom: 1px solid transparent;
  transition: all 200ms ease-in-out;
}

.has-hover-border:hover {
  border-bottom-color: rgba(5, 110, 220, 0.5);
}

.button-has-icon {
  border: 0;
}

@media screen and (max-width: $tablet) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}

.icon-small {
  height: 16px;
  width: 16px;
}

.has-text-right--desktop {
  @media screen and (min-width: $desktopMin) {
    text-align: right;
  }
}

.is-size-4 {
  @media screen and (max-width: $desktop) {
    font-size: 1.25rem !important;
    line-height: 1.325;
  }
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

// .no-scale:hover {
//   transform: scale3d(1, 1, 1) !important;
// }

.has-text-white a,
.has-text-white button,
.has-text-black a,
.has-text-black button,
.has-text-light a,
.has-text-light button,
.has-text-dark a,
.has-text-dark button,
.has-text-primary a,
.has-text-primary button,
.has-text-link a,
.has-text-link button,
.has-text-info a,
.has-text-info button,
.has-text-success a,
.has-text-success button,
.has-text-warning a,
.has-text-warning button,
.has-text-grey-darker a,
.has-text-grey-darker button,
.has-text-grey-dark a,
.has-text-grey-dark button,
.has-text-grey a,
.has-text-grey button,
.has-text-grey-light a,
.has-text-grey-light button,
.has-text-grey-lighter a
.has-text-grey-lighter button,{
  color: inherit;
}

.tag:not(body) {
  font-family: $code-family;
  font-size: 0.625rem;
  font-weight: 900;
  height: 1.25rem;
}

.tag.has-arrow-left {
  position: relative;
}

.tag.has-arrow-left::before {
  content: "";

  border-radius: 40px;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid $info;
  width: 10px;
  height: 100%;
  position: absolute;
  left: -8px;
}

.tx-in-progress .field.has-addons {
  border-color: $blue;
}

.has-half-margin {
  margin-bottom: 0.5rem !important;
}

.help {
  font-size: 1rem;
}

.has-break-word {
  overflow-wrap: break-word;
}

.is-family-serif {
  font-family: $family-serif;
}

hr {
  margin: 0 auto 1rem;
  width: 50%;
}

.img-responsive {
  height: 100%;
  max-width: 100%;
}

.modal {
  // background-color: darkgoldenrod;
  box-shadow: 0 12px 25px rgba(10, 10, 10, .3);
  border: 5px solid white;
  color: white;
  position: fixed;
  top: 15%;
  left: 25%;
  right: 25%;
  bottom: 25%;
  height: 60%;
  width: 50%;
  z-index: 12398;

  animation-name: animateHeroBg;
  animation-duration: 11s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  background-blend-mode: difference;
  background-color: white;
  background-image: 
    linear-gradient(90deg, $cyan 0%, darken($cyan, 5%) 4%, darken($cyan, 8%) 10%, lighten($mauve, 15%) 70%, lighten($purple, 15%) 85%, lighten($deep-purple, 15%) 100%),
    url('/swirl_pattern.png');
  background-position: 0 0;
  background-size: cover, 300px 300px;
  // position: relative;

  @media screen and (max-width: $tablet) {
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    height: 90%;
    width: 90%;
  }
}

.modal-body {
  font-size: 2rem;
  line-height: 2;
  padding: 6rem 3rem;

  @media screen and (max-width: $tablet) {
    font-size: 1.5rem;
    line-height: 1.75;
    padding: 1.25rem 1.5rem;
  }
}

.modal-body,
.modal-body strong {
  color: white;
}

.modal-background.is-active {
  box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
  cursor: pointer;
  pointer-events: auto;
  z-index: 9999;
  opacity: .6;
}

.modal-background {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s;
  opacity: 0;
  z-index: 1;
  background: black;
}

.card {
  border-radius: 6px;
  margin: 0;
}

.card-header {
  box-shadow: none;
  color: $dark;
  display: block;
  font-family: $code-family;
  letter-spacing: -0.05rem;
  font-size: 1.125rem;
  font-weight: 300;
  margin: 0 auto;
  padding: 1.5rem 2rem 0;
  text-align: center;
  width: 100%;

  @media screen and (max-width: $tablet) {
    font-size: 1rem;
  }
}

.card-footer {
  border: none;
  color: white;
  display: block;
}

.has-shadow {
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.has-shadow-big {
  box-shadow: 0 17px 50px rgba(50, 50, 93, .1), 0 7px 20px rgba(0, 0, 0, .08);
}

.logo-signup {
  height: 60px;
  margin: 1.5rem auto 2rem auto;
  width: 200px;

  @media screen and (max-width: $tablet) {
    margin-bottom: 0;
    margin-top: 0;
  }
}

.logo-signup path {
  fill: white
}

.has-no-top-padding {
  padding-top: 0;
}

.section.section--main-content {
  @media screen and (max-width: $tablet) {
    margin-top: 4rem;
  }
}

.icon--signup-large {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 30px;
  width: 30px;
}

.column {
  padding: 0;
}