.table thead th,
.table tbody td {
  vertical-align: middle;
}

.table thead th {
  color: rgba(0, 0, 0, 0.4);
}

.table thead:hover td,
.table thead:hover th {
  color: rgba(0, 0, 0, 1);
}

.table thead,
.table thead th,
.table tbody tr,
.table tbody td, {
  transition: all 80ms ease-in-out;
}

.table.is-transparent,
.table.is-transparent tr/*,
.table.is-transparent td*/ {
  background-color: rgba(255, 255, 255, 0.01);
  color: rgba(255, 255, 255, 0.7);
}

.table.is-transparent thead tr {
  background-color: rgba(255, 255, 255, 0);
  border-radius: 20px;
}

.table.is-transparent thead:hover th {
  color: white;
}

.table.is-transparent tr:nth-child(2n) td {
  background-color: rgba(255, 255, 255, 0.002);
  color: rgba(255, 255, 255, 0.7);
}

.table.is-transparent tr.is-dark td {
  background-color: rgba(255, 255, 255, 0.002);
  color: rgba(255, 255, 255, 0.7);
}

.table.is-transparent tr.is-light td {
  background-color: rgba(255, 255, 255, 0.08);
  color: rgba(255, 255, 255, 0.7);
}

.table.is-transparent tbody tr:hover td {
  background-color: rgba(255, 255, 255, 0.07);
  color: white;
}

.table.is-transparent th {
  color: rgba(255, 255, 255, 0.5);
}

.table.is-transparent th,
.table.is-transparent td {
  border-color: transparent;
}

.table.is-transparent tbody tr td .table {
  background-color: rgba(0, 0, 0, 0.1);
}