.mt200 {
  margin-top: 200px !important;
}

.mt150 {
  margin-top: 150px !important;
}

.mt100 {
  margin-top: 100px !important;
}

.mt75 {
  margin-top: 75px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt5 {
  margin-top: 5px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.mr200 {
  margin-right: 200px !important;
}

.mr150 {
  margin-right: 150px !important;
}

.mr100 {
  margin-right: 100px !important;
}

.mr75 {
  margin-right: 75px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr45 {
  margin-right: 45px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr5 {
  margin-right: 5px !important;
}

.mr0 {
  margin-right: 0 !important;
}

.mb200 {
  margin-bottom: 200px !important;
}

.mb150 {
  margin-bottom: 150px !important;
}

.mb100 {
  margin-bottom: 100px !important;
}

.mb75 {
  margin-bottom: 75px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb45 {
  margin-bottom: 45px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

.ml200 {
  margin-left: 200px !important;
}

.ml150 {
  margin-left: 150px !important;
}

.ml100 {
  margin-left: 100px !important;
}

.ml75 {
  margin-left: 75px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml45 {
  margin-left: 45px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.ml0 {
  margin-left: 0 !important;
}

.pt200 {
  padding-top: 200px !important;
}

.pt150 {
  padding-top: 150px !important;
}

.pt100 {
  padding-top: 100px !important;
}

.pt75 {
  padding-top: 75px !important;
}

.pt50 {
  padding-top: 50px !important;
}

.pt40 {
  padding-top: 40px !important;
}

.pt30 {
  padding-top: 30px !important;
}

.pt20 {
  padding-top: 20px !important;
}

.pt15 {
  padding-top: 15px !important;
}

.pt10 {
  padding-top: 10px !important;
}

.pt5 {
  padding-top: 5px !important;
}

.pt0 {
  padding-top: 0 !important;
}

.pr200 {
  padding-right: 200px !important;
}

.pr150 {
  padding-right: 150px !important;
}

.pr100 {
  padding-right: 100px !important;
}

.pr75 {
  padding-right: 75px !important;
}

.pr50 {
  padding-right: 50px !important;
}

.pr40 {
  padding-right: 40px !important;
}

.pr30 {
  padding-right: 30px !important;
}

.pr20 {
  padding-right: 20px !important;
}

.pr10 {
  padding-right: 10px !important;
}

.pr5 {
  padding-right: 5px !important;
}

.pr0 {
  padding-right: 0 !important;
}

.pb200 {
  padding-bottom: 200px !important;
}

.pb150 {
  padding-bottom: 150px !important;
}

.pb100 {
  padding-bottom: 100px !important;
}

.pb75 {
  padding-bottom: 75px !important;
}

.pb50 {
  padding-bottom: 50px !important;
}

.pb40 {
  padding-bottom: 40px !important;
}

.pb30 {
  padding-bottom: 30px !important;
}

.pb20 {
  padding-bottom: 20px !important;
}

.pb15 {
  padding-bottom: 15px !important;
}

.pb10 {
  padding-bottom: 10px !important;
}

.pb5 {
  padding-bottom: 5px !important;
}

.pb0 {
  padding-bottom: 0 !important;
}

.pl200 {
  padding-left: 200px !important;
}

.pl150 {
  padding-left: 150px !important;
}

.pl100 {
  padding-left: 100px !important;
}

.pl75 {
  padding-left: 75px !important;
}

.pl50 {
  padding-left: 50px !important;
}

.pl40 {
  padding-left: 40px !important;
}

.pl30 {
  padding-left: 30px !important;
}

.pl20 {
  padding-left: 20px !important;
}

.pl10 {
  padding-left: 10px !important;
}

.pl5 {
  padding-left: 5px !important;
}

.pl0 {
  padding-left: 0 !important;
}

.is-ma-centered {
  margin-left: auto !important;
  margin-right: auto !important;
}

.is-ml-auto {
  margin-left: auto !important;
}

.is-mr-auto {
  margin-right: auto !important;
}

.no-mt {
  margin-top: 0;
}

.no-mb {
  margin-bottom: 0;
}

.no-ml {
  margin-left: 0;
}

.no-mr {
  margin-right: 0;
}

.no-pt {
  padding-top: 0;
}

.no-pb {
  padding-bottom: 0;
}

.no-pl {
  padding-left: 0;
}

.no-pr {
  padding-right: 0;
}
