$gridGap: 64px;
$mobileContainerWidth: 85%;

$mobile: 480px + (2 * $gridGap);
$tablet: 700px + (2 * $gridGap);
$desktop: 820px + (2 * $gridGap);
$widescreen: 1150px + (2 * $gridGap);
$fullhd: 1400px + (2 * $gridGap);

// These are good to use with min-width
$mobileMin: 0px;     
$tabletMin: $mobile + 1px;
$desktopMin: $tablet + 1px;
$widescreenMin: $desktop + 1px;
$fullhdMin: $widescreen + 1px;

// Static variables
$body-line-height: 1.5;
$body-size: 20px;

$form-input-height: 47px;
$form-input-height-tall: 60px;

$navbar-height: 4rem;
$navbar-breakpoint: $tablet;
$navbar-breakpointMin: $desktopMin;

$size-1: 2.25rem;
$size-2: 2rem;
$size-3: 1.75rem;
$size-4: 1.5rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.875rem;

$section-padding: 2rem 0 0 0;
$section-padding-medium: 9rem 0;
$section-padding-large: 18rem 0;

$family-sans-serif: 'futura-pt', 'source-sans-pro', 'Open Sans', 'Roboto', -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$family-serif: $family-sans-serif;
$family-code: 'Roboto Mono', monospace;

$text: #141414;
$green: #07b14e;
$yellow: #ffe600;
$red: #e90e2b;
$cyan: #41fff3;
$blue: #0676cb;
$purple: #7704EC;
$pink: #C305F3;
$orange: #ff6600;

$info: $orange;
$pink: $pink;

$footer-background-color: darken(white, 2%);

$label-color: white;

$button-color: white;
$button-hover-color: $cyan;
$code-background: #f7f7f7;
$link-invert: #ffffff;
$hero-light: #f7f7f9;
$hero-dark: #252c31;
$navbar-background-color: white;
$navbar-grey: #273033;
$navbar-item-color: rgba(0, 0, 0, 0.35);
$navbar-item-hover: black;
$navbar-item-hover-background-color: transparent;
$navbar-dark-background-color: $navbar-grey;
$navbar-dark-item-color: white;
$navbar-dark-item-hover-color: #d9d9d9;

// Derived variables
$navbar-item-hover-color: $navbar-item-hover;

$link-color: $blue;
$link-hover-color: lighten($blue, 20%);
$link: $link-color;
$link-visited: $link-hover-color;
$link-hover: $link-hover-color;
$link-hover-border: $link-hover-color;
$link-focus: $link-hover-color;
$link-focus-border: $link-hover-color;
$link-active: $link-hover-color;
$link-active-border: $link-hover-color;

$hr-background-color: whitesmoke !default;
$hr-height: 3px !default
$hr-margin: 1.5rem auto 1.5rem auto !default

$code: $text;

$dark: $navbar-grey;