# You can automatically load this file using direnv: https://direnv.net/
# or just `source .envrc`

# Notus API Server protocol, host (and optional port) to use
export REACT_APP_NOTUS_API_URI=http://localhost:4000 # prod: https://api.notus.network

# Space-separated list of one or more required network ids
# export REACT_APP_ALLOWED_NETWORK_IDS="1234 3 1"

# If an Ethereum provider is not available, then default to the following network name.
# This name is passed to ethers.js getDefaultProvider()
# See https://docs.ethers.io/ethers.js/html/api-providers.html#connecting-to-ethereum
# export REACT_APP_DEFAULT_NETWORK_NAME=ropsten

# Configures the block from which to retrieve events on mainnet.  Helps optimize queries.
# export REACT_APP_MAINNET_STARTING_BLOCK=7189520

# Notus WebSocket API to use
# export REACT_APP_WS_API_URL=wss://api.notus.network

export REACT_APP_ROLLBAR_ACCESS_TOKEN='youraccesstoken'
