# You can automatically load this file using direnv: https://direnv.net/
# or just `source .envrc`

# Notus API Server protocol, host (and optional port) to use
export REACT_APP_NOTUS_API_URI=http://localhost:4000 # prod: https://api.notus.network
