.abi-upload {
  border: 4px dashed rgba(255, 255, 255, 0.4);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  margin: 0 auto;
  transition: all 120ms ease-in-out;
  text-align: center;
}

.abi-upload:hover {
  border: 4px dashed white;
  transition: all 250ms ease-in-out;
}

.abi-upload p {
  font-weight: 600;
  padding: 1rem;
  transition: all 120ms ease-in-out;
  margin-bottom: 0;
}

.abi-upload:hover p {
  color: white;
}
