body:not(.home) .navbar {
  background-color: white;
  box-shadow: 0 1px 3px rgba(100, 130, 180, 0.1);
}

body.home .hide-on-home {
  display: none;
}

body:not(.home) .hide-not-home {
  display: none;
}

body.home .navbar-start .navbar-item {
  display: none;
}

body.home .navbar {
  z-index: 10001;
}

.navbar {
  background: transparent;
  z-index: 9999;
}

.navbar > .container .navbar-brand,
.container > .navbar .navbar-brand {
  padding-top: 0.5rem;
  margin-left: 0;
}

.navbar > .container .navbar-menu,
.container > .navbar .navbar-menu {
  margin-right: 0;
}

.navbar-brand {
  @media screen and (max-width: $navbar-breakpoint) {
    z-index: 2000;
    position: relative;
  }
}

.navbar-menu .navbar-item {
  color: $navbar-item-color;
  margin-right: 0.5rem;
  padding: 0 0.1rem;
  margin: 1rem 0;

  @media screen and (max-width: $navbar-breakpoint) {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
  }
}

.navbar-menu .navbar-item:hover {
  color: $navbar-item-hover;
}

.navbar-menu .navbar-item.button,
.navbar-menu .navbar-item.button:focus,
.navbar-menu .navbar-item.button:active {
  background-color: transparent;
  border: 0;
  color: $navbar-item-color;
  min-width: auto;
  width: auto;

  @media screen and (max-width: $navbar-breakpoint) {
    width: 100%;
  }
}

.navbar-menu .navbar-item.button:hover {
  box-shadow: none;
  color: black;
  transform: scale3d(1, 1, 1);
}

.home .navbar-menu .navbar-item {
  color: white;
  $navbar-item-hover: rgba(255, 255, 255, 0.87);

  @media screen and (max-width: $navbar-breakpoint) {
    color: rgba(0, 0, 0, 0.5);
  }
}

.home .navbar-menu .navbar-item:hover {
  color: rgba(255, 255, 255, 0.87);

  @media screen and (max-width: $navbar-breakpoint) {
    color: black;
  }
}

.navbar-brand a {
  height: 50px;
  padding-top: 16px;
  padding-bottom: 2px;
}

.navbar-brand svg path {
  transition: all 700ms ease-in;
}

.navbar-brand svg:hover path {
  fill: $purple;
  transition: all 150ms ease-in;
}

.navbar-brand svg {
  height: 30px;
}

.navbar-menu .navbar-item {
  font-weight: 600;
  letter-spacing: -0.01rem;
  transition: border 300ms ease-in-out;
}

.home .navbar-menu .navbar-item.bold {
  border-radius: 6px;
  color: #24f0e2;
  padding: 3px 10px 5px;

  @media screen and (max-width: $navbar-breakpoint) {
    color: rgba(0, 0, 0, 0.5);
  }
}

.home .navbar-menu .navbar-item.bold:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: white;

  @media screen and (max-width: $navbar-breakpoint) {
    color: inherit;
  }
}

.navbar-item svg:hover {
  transition: transform 150ms ease-in;
}

a.navbar-item,
.navbar-link {
  color: $navbar-item-hover;
}

.navbar-menu.is-active .navbar-item:hover {
  @media screen and (max-width: $mobile) {
    color: black;
  }
}

.navbar-item,
.navbar-link {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 0.5rem 0 0.325rem;
}

.navbar-menu-container {
  position: relative;
}

.navbar-menu {
  @media screen and (max-width: $navbar-breakpoint) {
    box-sizing: content-box;
    display: block;
    height: 1px;
    left: 0;
    overflow: hidden;
    position: fixed;
    text-align: center;
    top: 0;
    transition: height 800ms cubic-bezier(0.35, 0.49, 0, 1);
    padding: 0;
    width: 100%;
    will-change: height;
  }
}

.navbar-menu.is-active {
  height: 100%;
}

.navbar-menu .navbar-start {
  @media screen and (max-width: $navbar-breakpoint) {
    height: auto;
    right: 0.75rem;
    padding-top: 80px;
    width: 100%;
  }
}

.navbar-menu .navbar-end {
  @media screen and (max-width: $navbar-breakpoint) {
    height: 75%;
    right: 0.75rem;
    padding-top: 0;
    text-align: center;
    width: 100%;
  }
}

.navbar-start .navbar-item {
  margin-right: 1rem;

  @media screen and (max-width: $navbar-breakpoint) {
    margin-right: 0;
  }
}

.navbar-end .navbar-item {
  margin-left: 1rem;

  @media screen and (max-width: $navbar-breakpoint) {
    margin-left: 0;
  }
}

.nav-background.is-active {
  box-shadow: 0 8px 16px rgba(10, 10, 10, .1);
  cursor: pointer;
  pointer-events: auto;
  z-index: 999;
  opacity: .6;
}

.nav-background {
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .2s;
  opacity: 0;
  z-index: 1;
  background: black;
}

.burger {
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  font-size: 9px;
  height: 3em;
  margin-top: 1.25rem;
  padding: 0.5rem;
  position: relative;
  transition: 0.1s all ease-in-out;
  outline: none;
  width: 3.5em;
  margin-right: 1em;
  z-index: 50000;

  @media screen and (min-width: $navbar-breakpointMin) {
    display: none;
  }
}

.burger:hover {
  box-shadow: none !important;
}

.burger:after {
  content: "";
  display: block;
  position: absolute;
  height: 150%;
  width: 150%;
  top: -25%;
  left: 0;
  z-index: 10000;
}

.burger .burger-lines {
  top: 50%;
  margin-top: -0.125em;
}

.burger .burger-lines,
.burger .burger-lines:after,
.burger .burger-lines:before {
  pointer-events: none;
  display: block;
  content: "";
  width: 100%;
  border-radius: 0.25em;
  background-color: rgba(0, 0, 0, 0.5);
  height: 0.25em;
  position: absolute;
  transform: rotate(0);
}

.home .burger .burger-lines,
.home .burger .burger-lines:after,
.home .burger .burger-lines:before {
  background-color: white;
}

.navbar.is-active .burger .burger-lines,
.navbar.is-active .burger .burger-lines:after,
.navbar.is-active .burger .burger-lines:before {
  background-color: black;
  z-index: 10000;
}

.burger .burger-lines .burger-lines:after {
  left: 0;
  top: -1.5em;
}

.burger .burger-lines .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger:hover .burger-lines,
.burger:hover .burger-lines:after,
.burger:hover .burger-lines:before {
  background-color: rgba(0, 0, 0, 1);
}

.home .burger:hover .burger-lines,
.home .burger:hover .burger-lines:after,
.home .burger:hover .burger-lines:before {
  background-color: rgba(0, 255, 255, 1);
}

.burger.burger-slip .burger-lines:after, .burger.burger-slip .burger-lines:before {
  width: 2.5em;
}

.burger.burger-slip .burger-lines, .burger.burger-slip .burger-lines:after, .burger.burger-slip .burger-lines:before {
  transition: all 0.2s;
}

.burger.burger-slip .burger-lines:after {
  left: 0;
  top: -1em;
}

.burger.burger-slip .burger-lines:before {
  left: 1em;
  top: 1em;
}

.burger.burger-slip.open .burger-lines {
  transform: translateX(-2em);
  background-color: transparent;
}

.burger.burger-slip.open .burger-lines:after,
.burger.burger-slip.open .burger-lines:before {
  border-radius: 30%;
  height: 0.3em;
}

.burger.burger-slip.open .burger-lines:before, .burger.burger-slip.open .burger-lines:after {
  left: 0.5em;
  top: 0px;
}

.burger.burger-slip.open .burger-lines:before {
  transform: translateX(2em) rotate(135deg);
}

.burger.burger-slip.open .burger-lines:after {
  transform: translateX(2em) rotate(-135deg);
}
